Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

fix: Renumber database migrations.
  internal/database/connection.go
  internal/database/migrations/057_ai_providers_embedding_preference.down.sql
  internal/database/migrations/057_ai_providers_embedding_preference.up.sql
  internal/database/migrations/058_ai_providers_embedding_model.down.sql
  internal/database/migrations/058_ai_providers_embedding_model.up.sql
  internal/database/migrations/059_ai_providers_read_only.down.sql
  internal/database/migrations/059_ai_providers_read_only.up.sql
  internal/database/migrations/060_chatbot_mcp_tools.down.sql
  internal/database/migrations/060_chatbot_mcp_tools.up.sql
Due: unittests

fix: Improve migrations.
  internal/database/connection.go
Due: none

fix: Improve logs when querying data.
  internal/ai/chat_handler.go
Due: unittests

fix: Allow for basic SQL functions.
  internal/mcp/tools/query_table.go
  internal/mcp/tools/query_table_test.go
Due: unittests

fix: Allow templated annotations in chatbots.
  internal/ai/chat_handler.go
  internal/ai/embedding_service.go
  internal/ai/schema_builder.go
  internal/api/server.go
Due: unittests

feat: Improve chatbots and let them use MCP tools. (#11)
  .github/workflows/release.yml
  VERSION
  admin/package-lock.json
  docs/src/content/docs/guides/ai-chatbots.md
  internal/ai/chat_handler.go
  internal/ai/chatbot.go
  internal/ai/chatbot_test.go
  internal/ai/embedding_service.go
  internal/ai/mcp_bridge.go
  internal/ai/mcp_bridge_test.go
  internal/ai/mcp_executor.go
  internal/ai/mcp_tools.go
  internal/ai/mcp_tools_test.go
  internal/ai/schema_builder.go
  internal/ai/storage.go
  internal/api/server.go
  internal/database/connection.go
  internal/database/migrations/057_ai_providers_embedding_preference.down.sql
  internal/database/migrations/057_ai_providers_embedding_preference.up.sql
  internal/database/migrations/058_ai_providers_embedding_model.down.sql
  internal/database/migrations/058_ai_providers_embedding_model.up.sql
  internal/database/migrations/059_ai_providers_read_only.down.sql
  internal/database/migrations/059_ai_providers_read_only.up.sql
  internal/database/migrations/060_chatbot_mcp_tools.down.sql
  internal/database/migrations/060_chatbot_mcp_tools.up.sql
  internal/mcp/registry.go
  internal/mcp/tools/query_table.go
  internal/mcp/tools/query_table_test.go
  internal/mcp/tools/sync_chatbot.go
  internal/mcp/tools/sync_test.go
Due: unittests

fix: Add expires_in to OAuth callback.
  internal/ai/mcp_bridge.go
  internal/ai/mcp_tools.go
  internal/api/oauth_handler.go
  internal/api/server.go
  internal/mcp/auth.go
  internal/mcp/tools/http_request.go
Due: unittests

fix: Allow for adding multiple roles in a job/function/RPC.
  cli/annotations/parser.go
  cli/annotations/parser_test.go
  internal/ai/chatbot.go
  internal/ai/storage.go
  internal/database/migrations/061_require_roles_array.down.sql
  internal/database/migrations/061_require_roles_array.up.sql
  internal/jobs/handler.go
  internal/jobs/loader.go
  internal/jobs/loader_test.go
  internal/jobs/scheduler.go
  internal/jobs/storage.go
  internal/jobs/types.go
  internal/jobs/types_test.go
  internal/mcp/tools/sync_chatbot.go
  internal/mcp/tools/sync_job.go
  internal/mcp/tools/sync_rpc.go
  internal/mcp/tools/sync_test.go
  internal/rpc/handler.go
  internal/rpc/parser.go
  internal/rpc/parser_test.go
  internal/rpc/storage.go
  internal/rpc/types.go
  internal/rpc/validator.go
  internal/rpc/validator_test.go
Due: unittests

fix: Improve job role requirement check.
  internal/rpc/validator.go
  internal/rpc/validator_test.go
Due: unittests

fix: Add explicit timeout to RPC-caller.
  sdk/src/rpc.ts
Due: sdk

fix: Add parameter to RPC invoker.
  internal/jobs/handler_test.go
  sdk/src/rpc.ts
Due: sdk

fix: Add missing MCP tool.
  internal/ai/mcp_tools_test.go
Due: none

fix: Update peer dependencies of sdk-react.
  sdk-react/package.json
Due: none

feat: Improve chatbots and apply bugfixes (#12)
  cli/annotations/parser.go
  cli/annotations/parser_test.go
  internal/ai/chatbot.go
  internal/ai/mcp_bridge.go
  internal/ai/mcp_tools.go
  internal/ai/mcp_tools_test.go
  internal/ai/storage.go
  internal/api/oauth_handler.go
  internal/api/server.go
  internal/database/migrations/061_require_roles_array.down.sql
  internal/database/migrations/061_require_roles_array.up.sql
  internal/jobs/handler.go
  internal/jobs/handler_test.go
  internal/jobs/loader.go
  internal/jobs/loader_test.go
  internal/jobs/scheduler.go
  internal/jobs/storage.go
  internal/jobs/types.go
  internal/jobs/types_test.go
  internal/mcp/auth.go
  internal/mcp/tools/http_request.go
  internal/mcp/tools/sync_chatbot.go
  internal/mcp/tools/sync_job.go
  internal/mcp/tools/sync_rpc.go
  internal/mcp/tools/sync_test.go
  internal/rpc/handler.go
  internal/rpc/parser.go
  internal/rpc/parser_test.go
  internal/rpc/storage.go
  internal/rpc/types.go
  internal/rpc/validator.go
  internal/rpc/validator_test.go
  sdk/src/rpc.ts
Due: unittests, sdk

fix: Update peer dependencies of sdk-react. (#13)
  sdk-react/package.json
Due: none

fix: Update FK of secrets.
  admin/package-lock.json
  internal/database/migrations/062_secrets_fk_dashboard_users.down.sql
  internal/database/migrations/062_secrets_fk_dashboard_users.up.sql
Due: unittests

fix: Update FK of secrets. (#14)
  admin/package-lock.json
  internal/database/migrations/062_secrets_fk_dashboard_users.down.sql
  internal/database/migrations/062_secrets_fk_dashboard_users.up.sql
Due: unittests

fix: Allow for multiple subscriptions in one channel.
  docs/src/content/docs/guides/realtime.md
  internal/api/realtime_admin_handler.go
  internal/api/server.go
  internal/database/migrations/063_realtime_admin.down.sql
  internal/database/migrations/063_realtime_admin.up.sql
  internal/realtime/subscription.go
  sdk/src/admin-realtime.ts
  sdk/src/admin.ts
  sdk/src/index.ts
  sdk/src/realtime.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Allow for multiple subscriptions in one channel. (#15)
  docs/src/content/docs/guides/realtime.md
  internal/api/realtime_admin_handler.go
  internal/api/server.go
  internal/database/migrations/063_realtime_admin.down.sql
  internal/database/migrations/063_realtime_admin.up.sql
  internal/realtime/subscription.go
  sdk/src/admin-realtime.ts
  sdk/src/admin.ts
  sdk/src/index.ts
  sdk/src/realtime.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Set DENO_DIR correctly.
  cli/bundler/bundler.go
  internal/api/server.go
  internal/functions/bundler.go
  internal/realtime/subscription.go
  internal/realtime/subscription_test.go
  internal/testutil/mocks.go
Due: unittests

fix: Update Deno dir correctly.
  admin/package-lock.json
  cli/bundler/bundler.go
  internal/functions/bundler.go
Due: unittests

fix: Add Deno cache dir.
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
Due: none

fix: Add libc6.
  Dockerfile
Due: none

fix: Use esbuild-wasm.
  cli/bundler/bundler.go
  internal/functions/bundler.go
Due: unittests

fix: Only build esbuild-wasm once.
  internal/functions/bundler.go
Due: unittests

fix: Use different base image.
  Dockerfile
  cli/bundler/bundler.go
  internal/functions/bundler.go
Due: unittests

fix: Use different base image.
  Dockerfile
Due: none

fix: Copy deno from container.
  Dockerfile
Due: none

fix: Use WASM builder again.
  internal/functions/bundler.go
Due: unittests

fix: Add configurable IP allowlist.
  .claude/settings.local.json
  admin/package-lock.json
  cli/bundler/bundler.go
  cli/client/client.go
  cli/cmd/auth.go
  cli/cmd/root.go
  deploy/helm/fluxbase/templates/ingress.yaml
  deploy/helm/fluxbase/values.example.yaml
  deploy/helm/fluxbase/values.yaml
  internal/api/dashboard_auth_handler.go
  internal/api/server.go
  internal/auth/dashboard.go
  internal/config/config.go
  internal/functions/bundler.go
  internal/middleware/clientkey_auth.go
  internal/middleware/global_ip_allowlist.go
Due: unittests

fix: Use deno bin differently.
  .claude/settings.local.json
  cli/bundler/bundler.go
  deploy/.env.example
  deploy/docker-compose.yml
  internal/functions/bundler.go
Due: unittests

fix: Use inputPath for deno.
  cli/bundler/bundler.go
  internal/functions/bundler.go
Due: unittests

fix: Add token fixes.
  admin/package-lock.json
  admin/src/routes/_authenticated/secrets/index.tsx
  internal/auth/mock_repositories.go
  internal/auth/token_blacklist.go
  internal/realtime/subscription.go
Due: unittests

fix: Allow empty user IDs.
  internal/auth/interfaces.go
  internal/auth/mock_repositories.go
  internal/auth/mock_repositories_test.go
  internal/auth/token_blacklist.go
Due: unittests

fix: Convert some messages to debug messages.
  internal/middleware/structured_logger.go
  internal/realtime/subscription.go
Due: unittests

fix: Improve Realtime connection.
  Makefile
  admin/src/hooks/use-realtime-connections.ts
  admin/src/routes/_authenticated/realtime/index.tsx
  internal/api/server.go
  internal/realtime/events.go
  internal/realtime/handler.go
  internal/realtime/manager.go
  sdk/src/realtime.test.ts
  sdk/src/realtime.ts
Due: unittests, sdk

fix: Don't block service roles.
  admin/package-lock.json
  internal/auth/token_blacklist.go
  internal/middleware/clientkey_auth.go
Due: unittests

fix: Add full JWT claim.
  internal/auth/jwt.go
  internal/auth/token_blacklist_test.go
  internal/realtime/auth_adapter.go
  internal/realtime/connection.go
  internal/realtime/handler.go
  internal/realtime/manager.go
  internal/realtime/subscription.go
Due: unittests

fix: Add debug logs for RLS access checks.
  internal/realtime/subscription.go
Due: unittests

fix: More realtime improvements.
  internal/api/auth_middleware.go
  internal/auth/jwt.go
  internal/auth/token_blacklist.go
  internal/auth/token_blacklist_test.go
  internal/middleware/clientkey_auth.go
  internal/realtime/handler.go
Due: unittests

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
