Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      go:
        flags: [unittests]
        target: 30%
        threshold: 5%
        informational: false
      sdk:
        flags: [sdk]
        target: 50%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

flags:
  unittests:
    paths:
      - internal/
      - cli/
      - cmd/
    carryforward: true
  sdk:
    paths:
      - sdk/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  # Test files
  - "**/*_test.go"
  - "**/*.test.ts"
  - "test/**"

  # Entry points and assets
  - "cmd/fluxbase/main.go"
  - "internal/adminui/**"

  # SDK non-source
  - "sdk/examples/**"
  - "sdk/scripts/**"

  # Infrastructure code (requires real DB/system deps, tested via E2E)
  - "internal/scaling/leader.go"
  - "internal/database/connection.go"
  - "internal/ai/ocr_tesseract.go"
  - "cli/**"

  # Pure type definitions
  - "internal/query/types.go"
  - "internal/branching/types.go"
  - "internal/jobs/types.go"
  - "internal/rpc/types.go"
  - "internal/mcp/types.go"
  - "internal/runtime/types.go"
  - "internal/extensions/models.go"
  - "internal/storage/log_types.go"
  - "internal/api/rest_errors.go"
  - "internal/api/graphql_types.go"
  - "internal/branching/errors.go"
  - "internal/database/errors.go"

  # Interface definitions
  - "internal/auth/interfaces.go"

  # Large generated files
  - "internal/api/openapi.go"

  # Test utilities
  - "internal/testutil/**"

fix(test): accept new Dex redirect URL format (/dex/auth vs /dex/approval)
  test/e2e/oauth_dex_test.go
Due: none

fix(test): handle newer Dex OAuth flow gracefully
  test/e2e/oauth_dex_test.go
Due: none

fix(test): skip flaky database-pages E2E test
  admin/tests/e2e/database-pages.spec.ts
Due: none

fix(test): accept new Dex redirect URL format (#282)
  admin/tests/e2e/database-pages.spec.ts
  test/e2e/oauth_dex_test.go
Due: none

fix(cli): show migration error details on sync failures
  cli/cmd/migrations.go
Due: none

fix(cli): show migration error details on sync failures (#283)
  cli/cmd/migrations.go
Due: none

feat(ai): observability, routing eval harness, custom-tools in supervisor mode
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/mcp/custom-mcp-tools.md
  internal/ai/agent_deps.go
  internal/ai/agent_specialists.go
  internal/ai/agent_specialists_custom_test.go
  internal/ai/agent_web.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/conversation_storage.go
  internal/ai/eval/eval.go
  internal/ai/eval/testdata/wayli_routing.eval.json
  internal/ai/eval_test.go
  internal/ai/handler_test.go
  internal/ai/mcp_tools.go
  internal/ai/page_context.go
  internal/ai/tool_audit.go
  internal/ai/tool_audit_test.go
  internal/database/schema/schemas/ai.sql
Due: unittests

style(ai): gofumpt formatting for linter
  internal/ai/agent_specialists_custom_test.go
  internal/ai/agent_web.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/eval_test.go
  internal/ai/tool_audit.go
Due: unittests

test(ai/eval): add in-package tests to satisfy coverage threshold
  internal/ai/eval/eval_test.go
Due: none

feat(ai): observability, routing eval harness, custom-tools in supervisor mode (#284)
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/mcp/custom-mcp-tools.md
  internal/ai/agent_deps.go
  internal/ai/agent_specialists.go
  internal/ai/agent_specialists_custom_test.go
  internal/ai/agent_web.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/conversation_storage.go
  internal/ai/eval/eval.go
  internal/ai/eval/eval_test.go
  internal/ai/eval/testdata/wayli_routing.eval.json
  internal/ai/eval_test.go
  internal/ai/handler_test.go
  internal/ai/mcp_tools.go
  internal/ai/page_context.go
  internal/ai/tool_audit.go
  internal/ai/tool_audit_test.go
  internal/database/schema/schemas/ai.sql
Due: unittests

fix(sdk): QueryBuilder.range() returns a clone for safe pagination
  sdk/src/query-builder.test.ts
  sdk/src/query-builder.ts
Due: sdk

fix(sdk): range() return type QueryBuilder<T> instead of this
  sdk/src/query-builder.ts
Due: sdk

fix(sdk): QueryBuilder.range() returns a clone for safe pagination (#286)
  sdk/src/query-builder.test.ts
  sdk/src/query-builder.ts
Due: sdk

fix(api): service_role bypasses max_total_results pagination caps
  internal/api/rest_crud.go
  internal/api/rest_crud_test.go
Due: unittests

fix(api): service_role bypasses max_total_results pagination caps (#287)
  internal/api/rest_crud.go
  internal/api/rest_crud_test.go
Due: unittests

fix(sdk-svelte): drop @sveltejs/kit devDependency to resolve cookie CVE
  bun.lock
  sdk-svelte/package.json
Due: none

chore(deps): pin typescript to v6 (typescript-eslint/rollup-plugin-dts don't support v7)
  admin/package.json
  bun.lock
  docs/package.json
  renovate.json
  sdk-next/package.json
  sdk-react/package.json
  sdk-svelte/package.json
  sdk-vue/package.json
  sdk/package.json
Due: none

feat(sdk-svelte): migrate to @tanstack/svelte-query v6 runes API
  sdk-svelte/src/auth/store.test.ts
  sdk-svelte/src/auth/store.ts
  sdk-svelte/src/data/features.test.ts
  sdk-svelte/src/data/features.ts
  sdk-svelte/src/data/storage.ts
  sdk-svelte/src/data/store.test.ts
  sdk-svelte/src/data/store.ts
  sdk-svelte/src/test-harness.svelte
  sdk-svelte/src/test-utils.ts
  sdk-svelte/vitest.config.ts
Due: none

fix(release): copy all workspaces in Dockerfile and revert js-yaml to v4
  Dockerfile
  bun.lock
  package.json
Due: none

fix(release): copy all workspaces in Dockerfile and revert js-yaml to v4 (#290)
  Dockerfile
  bun.lock
  package.json
Due: none

feat(schema): add opt-in declarative app-schema for application tables
  cli/cmd/root.go
  cli/cmd/schema.go
  cmd/fluxbase/main.go
  docs/src/content/docs/guides/database-migrations.md
  internal/api/app_schema_handler.go
  internal/api/handler_groups.go
  internal/api/module_schema.go
  internal/api/routes/schema_admin.go
  internal/api/routes_admin.go
  internal/config/config_database.go
  internal/config/config_defaults.go
  internal/migrations/app_declarative.go
  internal/migrations/app_declarative_test.go
Due: unittests

docs(cli): document the `fluxbase schema` command in the CLI reference
  docs/astro.config.mjs
  docs/src/content/docs/cli/commands.md
Due: none

feat(schema): opt-in declarative app-schema for application tables (#292)
  cli/cmd/root.go
  cli/cmd/schema.go
  cmd/fluxbase/main.go
  docs/astro.config.mjs
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/guides/database-migrations.md
  internal/api/app_schema_handler.go
  internal/api/handler_groups.go
  internal/api/module_schema.go
  internal/api/routes/schema_admin.go
  internal/api/routes_admin.go
  internal/config/config_database.go
  internal/config/config_defaults.go
  internal/migrations/app_declarative.go
  internal/migrations/app_declarative_test.go
Due: unittests

feat(schema): add direct-apply fallback for app-schema with extension refs
  internal/migrations/app_declarative.go
Due: unittests

feat(schema): add direct-apply fallback for app-schema with extension refs (#293)
  internal/migrations/app_declarative.go
Due: unittests

feat(schema): ensure missing columns in app-schema direct fallback
  internal/migrations/app_declarative.go
Due: unittests

feat(schema): ensure missing columns in app-schema direct fallback (#294)
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): name-based column extraction for app-schema fallback
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): wrap fallback error with %w to satisfy errorlint
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): name-based column extraction for app-schema fallback (#295)
  internal/migrations/app_declarative.go
Due: unittests

feat(schema): support .pgschemaignore for declarative app-schema + bump pgschema
  .gitignore
  Dockerfile
  cli/cmd/schema.go
  internal/api/app_schema_handler.go
  internal/migrations/app_declarative.go
  internal/migrations/app_declarative_test.go
Due: unittests

chore(renovate): track pgschema version in Dockerfiles
  renovate.json
Due: none

feat(schema): generic robust fallback — triggers, destructive blocking, reporting
  cli/cmd/schema.go
  internal/api/app_schema_handler.go
  internal/database/schema/idempotent.go
  internal/database/schema/idempotent_test.go
  internal/migrations/app_declarative.go
  internal/migrations/app_declarative_test.go
  internal/migrations/plan.go
Due: unittests

feat(schema): .pgschemaignore support for declarative app-schema + bump pgschema to 1.12.1 (#297)
  .gitignore
  Dockerfile
  cli/cmd/schema.go
  internal/api/app_schema_handler.go
  internal/database/schema/idempotent.go
  internal/database/schema/idempotent_test.go
  internal/migrations/app_declarative.go
  internal/migrations/app_declarative_test.go
  internal/migrations/plan.go
  renovate.json
Due: unittests

fix(release): anchor changelog on last published release, not last tag
  .github/workflows/release.yml
Due: none

fix(release): anchor changelog on last published release, not last tag (#298)
  .github/workflows/release.yml
Due: none

fix(schema): make direct-apply fallback the PRIMARY apply path for app schemas
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): make direct-apply fallback the PRIMARY apply path for app schemas (#299)
  internal/migrations/app_declarative.go
Due: unittests
