Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

fix(jobs): attach tenant_id to execution logs so getLogs returns them
  internal/jobs/worker.go
Due: unittests

fix(jobs): attach tenant_id to execution logs so getLogs returns them (#319)
  internal/jobs/worker.go
Due: unittests

feat(docker): add lite image variant, fix broken vips build tag, add smoke pipeline (#318)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  deploy/docker-compose.minimal.yaml
  deploy/docker-compose.smoke.yml
  deploy/docker-compose.yml
  deploy/generate-keys.sh
  deploy/helm/fluxbase/values.yaml
  docs/src/content/docs/deployment/docker.md
  docs/src/content/docs/guides/image-transformations.md
  internal/storage/transform_novips.go
  internal/storage/transform_novips_test.go
  internal/storage/transform_types.go
  scripts/smoke-test.sh
Due: unittests

fix(ci): run new docker/smoke/build-tag jobs on pull requests
  .github/workflows/ci.yml
Due: none

fix: Update Docker build.
  Dockerfile
Due: none

fix: Update CI.
  .github/workflows/ci.yml
  deploy/docker-compose.smoke.yml
  deploy/generate-keys.sh
  scripts/smoke-test.sh
Due: none

fix(docker): make lite image writable and harden validation-failure exit
  Dockerfile
  cmd/fluxbase/main.go
Due: none

fix(storage): dedupe transform tests under -tags 'ocr vips'
  internal/storage/transform_options_test.go
  internal/storage/transform_test.go
Due: none

fix(storage): split TestValidateOptions_QualityNormalization by build tag
  internal/storage/transform_novips_test.go
  internal/storage/transform_options_test.go
  internal/storage/transform_test.go
Due: none

feat(docker): add lite image variant, fix broken vips build tag, add smoke pipeline (#320)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  cmd/fluxbase/main.go
  deploy/docker-compose.minimal.yaml
  deploy/docker-compose.smoke.yml
  deploy/docker-compose.yml
  deploy/generate-keys.sh
  deploy/helm/fluxbase/values.yaml
  docs/src/content/docs/deployment/docker.md
  docs/src/content/docs/guides/image-transformations.md
  internal/storage/transform_novips.go
  internal/storage/transform_novips_test.go
  internal/storage/transform_options_test.go
  internal/storage/transform_test.go
  internal/storage/transform_types.go
  scripts/smoke-test.sh
Due: unittests

test(testutil): break import cycle by moving integration ctx to e2e subpackage
  internal/api/admin_session_integration_test.go
  internal/api/auth_identity_integration_test.go
  internal/api/auth_magiclink_integration_test.go
  internal/api/auth_otp_integration_test.go
  internal/api/branching_integration_test.go
  internal/api/oauth_provider_integration_test.go
  internal/api/rest_crud_integration_test.go
  internal/api/rest_rls_integration_test.go
  internal/api/saml_integration_test.go
  internal/auth/service_integration_test.go
  internal/auth/token_blacklist_integration_test.go
  internal/extensions/integration/service_integration_test.go
  internal/migrations/integration/executor_integration_test.go
  internal/migrations/integration/storage_integration_test.go
  internal/pubsub/integration/postgres_integration_test.go
  internal/secrets/integration/handler_integration_test.go
  internal/secrets/integration/storage_integration_test.go
  internal/settings/secrets_service_integration_test.go
  internal/settings/service_integration_test.go
  internal/testutil/e2e/integration.go
Due: none

test: fix stale integration-test signatures blocking combined coverage
  internal/api/dashboard_auth_sso_test.go
  internal/api/storage_signed_test.go
  internal/database/schema_inspector_internal_test.go
  internal/middleware/tenant_db_integration_test.go
Due: none

test: cover pure helpers (migrations, database, functions, realtime)
  .testcoverage.yml
  internal/database/schema_inspector_helpers_test.go
  internal/functions/bundler_helpers_test.go
  internal/migrations/declarative_helpers_test.go
  internal/realtime/handler.go
  internal/realtime/handler_helpers.go
  internal/realtime/handler_helpers_test.go
Due: unittests

test(ai): cover pure prompt/title/ID/supervisor helpers
  internal/ai/agent_helpers_test.go
Due: none

test(jobs): cover parseScheduleConfig and CalculateETA guards
  internal/jobs/scheduler_helpers_test.go
Due: none

test(branching): fill GetActiveBranch/GetDefaultBranch precedence matrix
  internal/branching/router_helpers_test.go
Due: none

test(middleware): cover rate_limit_factory pure surface (0% -> ~90%)
  internal/middleware/rate_limit_factory_test.go
Due: none

test: coverage wave 1 (pure helpers) + integration test infra fixes (#321)
  .testcoverage.yml
  internal/ai/agent_helpers_test.go
  internal/api/admin_session_integration_test.go
  internal/api/auth_identity_integration_test.go
  internal/api/auth_magiclink_integration_test.go
  internal/api/auth_otp_integration_test.go
  internal/api/branching_integration_test.go
  internal/api/dashboard_auth_sso_test.go
  internal/api/oauth_provider_integration_test.go
  internal/api/rest_crud_integration_test.go
  internal/api/rest_rls_integration_test.go
  internal/api/saml_integration_test.go
  internal/api/storage_signed_test.go
  internal/auth/service_integration_test.go
  internal/auth/token_blacklist_integration_test.go
  internal/branching/router_helpers_test.go
  internal/database/schema_inspector_helpers_test.go
  internal/database/schema_inspector_internal_test.go
  internal/extensions/integration/service_integration_test.go
  internal/functions/bundler_helpers_test.go
  internal/jobs/scheduler_helpers_test.go
  internal/middleware/rate_limit_factory_test.go
  internal/middleware/tenant_db_integration_test.go
  internal/migrations/declarative_helpers_test.go
  internal/migrations/integration/executor_integration_test.go
  internal/migrations/integration/storage_integration_test.go
  internal/pubsub/integration/postgres_integration_test.go
  internal/realtime/handler.go
  internal/realtime/handler_helpers.go
  internal/realtime/handler_helpers_test.go
  internal/secrets/integration/handler_integration_test.go
  internal/secrets/integration/storage_integration_test.go
  internal/settings/secrets_service_integration_test.go
  internal/settings/service_integration_test.go
  internal/testutil/e2e/integration.go
Due: unittests

feat(sdk-kotlin): FluxbaseClient factory + FluxbaseResponse result type
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/-fluxbase-client-options.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/auto-refresh.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/debug.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/headers.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/persist.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/storage.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client-options/timeout.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/-companion/create.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/-companion/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/auth.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/http.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/set-tenant.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/create-fluxbase-client.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/package-list
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/FluxbaseClient.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/FluxbaseClientTest.kt
Due: none

feat(sdk-kotlin): Storage module — upload, download, list, signed URLs, remove, copy, move
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/-file-object.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/content-type.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/created-at.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/id.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/last-accessed-at.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/metadata.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/name.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/size.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-file-object/updated-at.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-fluxbase-storage/-fluxbase-storage.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-fluxbase-storage/from.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-fluxbase-storage/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-signed-url-result/-signed-url-result.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-signed-url-result/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-signed-url-result/signed-url.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/-storage-bucket.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/copy.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/create-signed-url.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/download.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/get-public-url.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/list.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/move.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/remove.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-storage-bucket/upload.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-upload-result/-upload-result.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-upload-result/full-path.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-upload-result/id.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-upload-result/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/-upload-result/path.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.storage/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase/-fluxbase-client/storage.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/package-list
  docs/src/content/docs/api/sdk-kotlin/index.md
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/FluxbaseClient.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/storage/FluxbaseStorage.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/storage/FluxbaseStorageTest.kt
Due: none

fix(sdk): correct user_profiles API path in jobs.ts — /rest/v1 → /api/v1/tables
  sdk/src/jobs.ts
Due: sdk

feat(sdk-kotlin): extended auth — refreshSession, getCurrentUser, updateUser, getAuthConfig, password reset
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/-auth-config.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/email-confirmation-required.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/oauth-providers.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/password-login-enabled.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/password-min-length.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/password-require-lowercase.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/password-require-number.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/password-require-special.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/password-require-uppercase.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/saml-providers.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-auth-config/signup-enabled.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-fluxbase-auth/get-auth-config.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-fluxbase-auth/get-current-user.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-fluxbase-auth/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-fluxbase-auth/refresh-session.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-fluxbase-auth/send-password-reset.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/-fluxbase-auth/update-user.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/io.github.nimbleflux.fluxbase.auth/index.md
  docs/src/content/docs/api/sdk-kotlin/fluxbase-kotlin/package-list
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/AuthConfig.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthExtendedTest.kt
Due: none

ci(release): integrate Kotlin SDK publishing into the main release pipeline
  .github/workflows/release.yml
Due: none

feat(sdk-kotlin): publish pipeline — vanniktech + GitHub Packages (RC + stable)
  .github/workflows/sdk-kotlin.yml
  sdk-kotlin/build.gradle.kts
  sdk-kotlin/detekt.yml
  sdk-kotlin/gradle/libs.versions.toml
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthExtendedTest.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/rpc/FluxbaseRpcTest.kt
Due: none

ci(sdk-kotlin): simplify to CI-only — publishing moved to release.yml
  .github/workflows/sdk-kotlin.yml
Due: none

ci(sdk-kotlin): smart path filtering with dorny/paths-filter
  .github/workflows/sdk-kotlin.yml
Due: none

fix: Improve test reliability.
  internal/middleware/rate_limit_factory_test.go
Due: none

fix(build): build SDKs before admin UI in make build (#323)
  Makefile
  README.md
Due: none

fix(build): build SDKs before admin UI in make build (#323) (#324)
  Makefile
  README.md
Due: none

fix(build): auto-detect Homebrew keg paths + add build-lite/build-full
  Makefile
Due: none

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
