Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

docs: Improve secret management in docs.
  docs/astro.config.mjs
  docs/src/content/docs/deployment/docker.md
  docs/src/content/docs/getting-started/installation.md
  docs/src/content/docs/getting-started/quick-start.md
  docs/src/content/docs/guides/edge-functions.md
  docs/src/content/docs/guides/jobs.md
  docs/src/content/docs/guides/testing.md
  docs/src/content/docs/intro.md
  docs/src/content/docs/reference/configuration.md
Due: none

fix: Improve query parser.
  deploy/helm/fluxbase/values.yaml
  internal/api/query_parser.go
  internal/api/query_parser_test.go
Due: unittests

fix: Add values for embeddings.
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
Due: none

fix: Add decryption endpoint.
  internal/api/server.go
  internal/api/user_settings_handler.go
  sdk/src/settings.ts
Due: unittests, sdk

fix: RPC improvements and AI embedding improvements.
  deploy/docker-compose.yml
  internal/api/vector_handler.go
  internal/config/config.go
  internal/jobs/handler.go
  internal/jobs/handler_test.go
  internal/rpc/validator.go
  internal/runtime/runtime.go
Due: unittests

fix: Infer provider type based on configured API keys.
  internal/api/vector_handler.go
  internal/rpc/handler.go
Due: unittests

fix: Handle email verification.
  internal/api/auth_handler.go
  internal/auth/email_verification.go
  internal/auth/otp_sender.go
  internal/auth/service.go
  internal/database/migrations/043_email_verification_tokens.down.sql
  internal/database/migrations/043_email_verification_tokens.up.sql
  internal/email/mailgun.go
  internal/email/manager.go
  internal/email/sendgrid.go
  internal/email/service.go
  internal/email/ses.go
  internal/email/smtp.go
Due: unittests

fix: Ensure the view privileges are correct.
  .claude/FUTURE_PLANS.md
  internal/database/migrations/004_functions_auth.up.sql
Due: unittests

fix: Chatbot sync issue in CLI.
  admin/package-lock.json
  cli/cmd/chatbots.go
Due: none

fix: Add _health endpoint.
  .claude/FUTURE_PLANS.md
  .devcontainer/Dockerfile
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/authentication/index.tsx
  admin/src/routes/_authenticated/sql-editor/index.tsx
  admin/src/routes/login/index.tsx
  admin/vite.config.ts
  cli/cmd/auth.go
  cli/cmd/auth_sso.go
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/sync.go
  deploy/.env.example
  deploy/helm/fluxbase/values.yaml
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/guides/saml-sso.md
  fluxbase.yaml.example
  internal/api/auth_saml.go
  internal/api/dashboard_auth_handler.go
  internal/api/dashboard_auth_sso_test.go
  internal/api/graphql_schema.go
  internal/api/graphql_types.go
  internal/api/oauth_provider_handler.go
  internal/database/migrations/044_saml_support.down.sql
  internal/database/migrations/044_saml_support.up.sql
Due: unittests

fix: Install govips.
  Dockerfile
Due: none

fix: Install vips in GH action.
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: Show more endpoints on REST page.
  admin/src/routes/_authenticated/api/rest.tsx
  internal/api/server.go
Due: unittests

fix: Always apply.
  cli/cmd/migrations.go
  cli/cmd/sync.go
  internal/api/openapi.go
  internal/api/server.go
Due: unittests

fix: Don't rate-limit service key.
  admin/package-lock.json
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/lib/api.ts
  admin/src/routeTree.gen.ts
  admin/src/routes/_authenticated/service-keys/index.tsx
  cli/cmd/migrations.go
  cli/cmd/root.go
  cli/cmd/servicekeys.go
  cli/cmd/sync.go
  internal/api/server.go
  internal/api/servicekey_handler.go
  internal/database/migrations/046_service_key_rate_limits.down.sql
  internal/database/migrations/046_service_key_rate_limits.up.sql
  internal/middleware/apikey_auth.go
  internal/middleware/rate_limiter.go
  internal/migrations/handler.go
Due: unittests

fix: Improve security.
  cmd/fluxbase/main.go
  internal/ai/chatbot.go
  internal/api/auth_middleware.go
  internal/api/rest_batch.go
  internal/api/rest_crud.go
  internal/api/rest_geojson.go
  internal/api/rest_utils.go
  internal/api/storage_files.go
  internal/api/storage_signed.go
  internal/api/storage_utils.go
  internal/auth/jwt.go
  internal/auth/password.go
  internal/auth/password_test.go
  internal/auth/service.go
  internal/config/config.go
  internal/database/migrations/049_policies_secrets.down.sql
  internal/database/migrations/049_policies_secrets.up.sql
  internal/middleware/clientkey_auth.go
  internal/middleware/migrations_security.go
  internal/storage/local.go
Due: unittests

docs: Add comprehensive security audit report
  SECURITY_AUDIT_REPORT.md
Due: none

fix: Improve SSO.
  admin/src/components/key-value-array-editor.tsx
  admin/src/components/string-array-editor.tsx
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/authentication/index.tsx
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  docs/astro.config.mjs
  docs/src/content/docs/guides/database-migrations.md
  docs/src/content/docs/guides/oauth-providers.md
  docs/src/content/docs/guides/saml-sso.md
  docs/src/content/docs/guides/typescript-sdk/branching.md
  docs/src/content/docs/guides/typescript-sdk/database.md
  docs/src/content/docs/guides/typescript-sdk/index.md
  docs/src/content/docs/guides/typescript-sdk/react-hooks.md
  docs/src/styles/custom.css
  fluxbase.yaml.example
  internal/api/auth_saml.go
  internal/api/dashboard_auth_handler.go
  internal/api/oauth_handler.go
  internal/api/server.go
  internal/auth/oauth_rbac.go
  internal/auth/oauth_rbac_test.go
  internal/auth/oidc.go
  internal/auth/saml.go
  internal/auth/saml_rbac_test.go
  internal/config/config.go
  internal/database/migrations/053_sso_rbac_enhancements.down.sql
  internal/database/migrations/053_sso_rbac_enhancements.up.sql
Due: unittests

fix: Make OAuth work.
  .claude/settings.local.json
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/authentication/index.tsx
  admin/src/routes/login/callback.tsx
  admin/src/routes/login/index.tsx
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  fluxbase.yaml.example
  internal/api/dashboard_auth_handler.go
  internal/api/oauth_handler.go
  internal/api/oauth_provider_handler.go
  internal/api/saml_provider_handler.go
  internal/api/server.go
  internal/auth/dashboard.go
  internal/database/migrations/051_namespace_authorization.down.sql
  internal/database/migrations/051_namespace_authorization.up.sql
  internal/mcp/resources/schema.go
  internal/mcp/tools/query_table.go
  internal/middleware/clientkey_auth.go
  internal/middleware/rate_limiter.go
Due: unittests

fix: Update e2e tests.
  internal/api/dashboard_auth_handler.go
  internal/api/graphql_security_test.go
  internal/auth/jwt.go
  internal/functions/handler.go
  test/e2e/auth_rest_test.go
  test/e2e/functions_auth_simple_test.go
  test/e2e/functions_auth_test.go
  test/e2e/rls_test.go
  test/e2e/storage_local_test.go
  test/e2e/storage_s3_test.go
Due: unittests

fix: Add more scopes.
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitignore
  admin/src/features/dashboard/index.tsx
  admin/src/features/tables/components/table-viewer.tsx
  admin/src/features/users/components/users-multi-delete-dialog.tsx
  admin/src/features/users/components/users-table.tsx
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/authentication/index.tsx
  admin/src/routes/_authenticated/client-keys/index.tsx
  admin/src/routes/_authenticated/service-keys/index.tsx
  admin/src/routes/_authenticated/users/index.tsx
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  fluxbase.yaml.example
  internal/api/dashboard_auth_handler.go
  internal/api/oauth_handler.go
  internal/api/oauth_provider_handler.go
  internal/api/server.go
  internal/api/servicekey_handler.go
  internal/auth/scopes.go
  internal/config/config.go
  internal/database/migrations/054_oauth_secret_encryption.down.sql
  internal/database/migrations/054_oauth_secret_encryption.up.sql
  internal/mcp/auth.go
  internal/mcp/tools/branching.go
  internal/mcp/tools/ddl.go
  internal/mcp/tools/ddl_test.go
  internal/mcp/tools/sync_chatbot.go
  internal/mcp/tools/sync_function.go
  internal/mcp/tools/sync_job.go
  internal/mcp/tools/sync_migration.go
  internal/mcp/tools/sync_rpc.go
  internal/mcp/tools/sync_test.go
  internal/middleware/clientkey_auth.go
  test/e2e/setup_test.go
  test/e2e_helpers.go
Due: unittests

fix: Improve Promethes endpoint and client keys.
  .claude/settings.local.json
  admin/src/routes/_authenticated/client-keys/index.tsx
  admin/src/routes/_authenticated/database-config/index.tsx
  admin/src/routes/_authenticated/realtime/index.tsx
  admin/src/routes/_authenticated/service-keys/index.tsx
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  docker-compose.yml
  fluxbase.yaml.example
  internal/api/clientkey_handler.go
  internal/api/openapi.go
  internal/api/server.go
  internal/auth/clientkey.go
  internal/auth/scopes_test.go
  internal/auth/service.go
  internal/config/config.go
  internal/database/connection.go
  internal/database/migrations/055_allow_user_client_keys_setting.down.sql
  internal/database/migrations/055_allow_user_client_keys_setting.up.sql
  internal/middleware/clientkey_auth.go
  internal/middleware/rate_limiter.go
  internal/observability/metrics.go
  internal/realtime/manager.go
  internal/storage/service.go
  test/e2e_helpers.go
Due: unittests

fix: Enable metrics by default.
  .env.example
  deploy/.env.example
  internal/api/dashboard_auth_sso_test.go
  internal/auth/clientkey_test.go
  internal/config/config.go
Due: unittests

fix: Linting issues.
  internal/api/servicekey_handler.go
  internal/observability/metrics.go
Due: unittests

fix: Solve OAuth e2e test issues.
  deploy/generate-keys.sh
  docs/src/content/docs/guides/admin/index.md
  docs/src/content/docs/guides/admin/setup-guide.md
  docs/src/content/docs/intro.md
  scripts/quick-start.sh
  scripts/test-runner.sh
  test/e2e_helpers.go
Due: none

docs: Align docs with implementation.
  docs/src/content/docs/cli/commands.md
Due: none

docs: More doc improvements.
  .claude/project.md
  .claude/settings.local.json
  .devcontainer/Dockerfile
  .devcontainer/QUICK_START.md
  .devcontainer/README.md
  .devcontainer/test-setup.sh
  GETTING_STARTED.md
  PRODUCTION_RUNBOOK.md
  docs/src/content/docs/deployment/production-checklist.md
  sdk/examples/01-quickstart.ts
  sdk/examples/02-database.ts
  sdk/examples/README.md
  sdk/examples/postgis-example.ts
  sdk/examples/storage-sharing.ts
  test/README.md
  test/k6/load-test.js
  test/load/README.md
  test/load/k6-rest-api.js
  test/load/k6-storage.js
  test/load/k6-websocket.js
Due: none

fix: Streaming body.
  admin/package-lock.json
  internal/api/storage_chunked.go
  internal/api/storage_streaming.go
  sdk-react/package-lock.json
  sdk/package-lock.json
Due: unittests

fix: Don't block comments in SQL.
  internal/rpc/validator.go
Due: unittests

fix: Don't redirect during OAuth login.
  admin/package-lock.json
  admin/src/routes/login/index.tsx
  internal/api/oauth_handler.go
  internal/api/oauth_provider_handler.go
  internal/api/server.go
  internal/auth/oauth_logout.go
  internal/auth/oauth_logout_test.go
  internal/database/migrations/056_oauth_slo_support.down.sql
  internal/database/migrations/056_oauth_slo_support.up.sql
  sdk/src/auth.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Remove redundant mounts.
  .devcontainer/docker-compose.yml
  admin/package-lock.json
  sdk/package-lock.json
Due: none

fix: Update devcontainer.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

fix: Apply formatting.
  internal/auth/oauth_logout_test.go
Due: none

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**
