Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      go:
        flags: [unittests]
        target: 30%
        threshold: 5%
        informational: false
      sdk:
        flags: [sdk]
        target: 50%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

flags:
  unittests:
    paths:
      - internal/
      - cli/
      - cmd/
    carryforward: true
  sdk:
    paths:
      - sdk/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  # Test files
  - "**/*_test.go"
  - "**/*.test.ts"
  - "test/**"

  # Entry points and assets
  - "cmd/fluxbase/main.go"
  - "internal/adminui/**"

  # SDK non-source
  - "sdk/examples/**"
  - "sdk/scripts/**"

  # Infrastructure code (requires real DB/system deps, tested via E2E)
  - "internal/scaling/leader.go"
  - "internal/database/connection.go"
  - "internal/ai/ocr_tesseract.go"
  - "cli/**"

  # Pure type definitions
  - "internal/query/types.go"
  - "internal/branching/types.go"
  - "internal/jobs/types.go"
  - "internal/rpc/types.go"
  - "internal/mcp/types.go"
  - "internal/runtime/types.go"
  - "internal/extensions/models.go"
  - "internal/storage/log_types.go"
  - "internal/api/rest_errors.go"
  - "internal/api/graphql_types.go"
  - "internal/branching/errors.go"
  - "internal/database/errors.go"

  # Interface definitions
  - "internal/auth/interfaces.go"

  # Large generated files
  - "internal/api/openapi.go"

  # Test utilities
  - "internal/testutil/**"

feat: Add tracing helpers for functions and jobs (Phase 5.2)
  IMPLEMENTATION_PLAN.md
  internal/observability/tracer.go
  internal/observability/tracer_test.go
Due: unittests

feat: Complete Phase 5 - Operations & Polish
  IMPLEMENTATION_PLAN.md
  docs/src/content/docs/guides/operational-runbook.md
  internal/observability/metrics.go
  internal/observability/metrics_test.go
Due: unittests

feat: Add service key revocation and rotation support
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/service-keys/index.tsx
  cli/cmd/servicekeys.go
Due: none

fix: Apply formatting.
  cli/cmd/types.go
  internal/api/rest_errors.go
  internal/api/schema_export.go
  internal/api/servicekey_handler.go
  internal/auth/service_test.go
  internal/config/config.go
  internal/jobs/worker.go
  internal/middleware/body_limit.go
  internal/middleware/body_limit_test.go
  internal/observability/metrics.go
  internal/realtime/listener_pool.go
  internal/runtime/runtime.go
Due: unittests

fix: Remove work docs.
  ARCHITECTURE_REVIEW.md
  IMPLEMENTATION_ANALYSIS.md
  IMPLEMENTATION_PLAN.md
  internal/auth/totp_rate_limiter.go
Due: unittests

fix: Solve linting issues.
  cli/cmd/types.go
  internal/api/rest_batch_test.go
  internal/api/rest_errors.go
  internal/api/schema_export.go
  internal/api/servicekey_handler.go
  internal/auth/user.go
  internal/jobs/worker.go
  internal/middleware/etag.go
  internal/realtime/listener_pool.go
  internal/realtime/listener_pool_test.go
  internal/realtime/manager.go
  internal/runtime/runtime.go
Due: unittests

fix: Make tests work again.
  internal/auth/service_test.go
  internal/middleware/body_limit.go
  internal/middleware/body_limit_test.go
  internal/middleware/idempotency.go
  internal/realtime/connection_test.go
  internal/realtime/manager_test.go
Due: unittests

fix: Add migration for TOTP secret length.
  internal/database/migrations/067_totp_secret_length.down.sql
  internal/database/migrations/067_totp_secret_length.up.sql
Due: unittests

fix: Update TestWebhookTriggerOnUserUpdate.
  test/e2e/webhook_trigger_test.go
Due: none

fix: Get rid of flakiness.
  internal/api/oauth_handler.go
  internal/api/server.go
  internal/webhook/trigger.go
  test/e2e/webhook_trigger_test.go
  test/e2e_helpers.go
Due: unittests

fix: Add .geojson support to bundler.
  admin/package-lock.json
  internal/functions/bundler.go
  internal/functions/bundler_test.go
  test/e2e_helpers.go
Due: unittests

fix: Also bundle geojson files in the CLI.
  cli/bundler/bundler.go
Due: none

fix: Use .ts files for chatbots.
  cli/bundler/bundler_test.go
  cli/cmd/chatbots.go
  cli/cmd/sync.go
Due: none

fix: Create execution record with execution logs disabled.
  docs/src/content/docs/guides/rpc.md
  internal/rpc/executor.go
  test/e2e/rpc_test.go
Due: unittests

fix: Solve issues with e2e tests.
  internal/api/storage_files.go
Due: unittests

fix: Improve pool configuration.
  internal/database/connection.go
Due: none

feat: Add custom MCP tools and resources support
  cli/cmd/mcp.go
  docs/src/content/docs/guides/custom-mcp-tools.md
  internal/api/custom_mcp_handler.go
  internal/api/server.go
  internal/database/migrations/068_custom_mcp.down.sql
  internal/database/migrations/068_custom_mcp.up.sql
  internal/mcp/custom/executor.go
  internal/mcp/custom/handler.go
  internal/mcp/custom/handler_test.go
  internal/mcp/custom/storage.go
  internal/mcp/custom/types.go
  internal/mcp/custom/types_test.go
Due: unittests

feat: Add full Fluxbase SDK to custom MCP tools
  docs/src/content/docs/guides/custom-mcp-tools.md
  internal/mcp/custom/executor.go
Due: unittests

refactor: Use consistent @fluxbase: annotation prefix for MCP tools
  cli/cmd/mcp.go
  docs/src/content/docs/guides/custom-mcp-tools.md
Due: none

refactor: Remove redundant @fluxbase:mcp-tool/resource type annotations
  cli/cmd/mcp.go
  docs/src/content/docs/guides/custom-mcp-tools.md
Due: none

refactor: Simplify MCP annotations - all now optional
  cli/cmd/mcp.go
  docs/src/content/docs/guides/custom-mcp-tools.md
Due: none

refactor: Use consistent handler signature for MCP tools
  docs/src/content/docs/guides/custom-mcp-tools.md
  internal/mcp/custom/executor.go
Due: unittests

feat: Add namespace support for custom MCP tools, edge functions, and jobs
  cli/annotations/parser.go
  cli/cmd/mcp.go
  docs/src/content/docs/guides/custom-mcp-tools.md
  internal/mcp/custom/handler.go
  internal/mcp/custom/handler_test.go
Due: unittests

feat(dashboard): Auto-select non-empty namespace when default is empty
  admin/src/routes/_authenticated/functions/index.tsx
  admin/src/routes/_authenticated/jobs/index.tsx
  admin/src/routes/_authenticated/rpc/index.tsx
Due: none

test: Add tests for namespace annotation support
  cli/annotations/parser_test.go
  cli/cmd/mcp_test.go
Due: none

docs: Add @fluxbase:namespace annotation to edge functions and jobs guides
  docs/src/content/docs/guides/edge-functions.md
  docs/src/content/docs/guides/jobs.md
Due: none

fix: Apply formatting.
  internal/mcp/custom/handler.go
  internal/mcp/custom/handler_test.go
Due: unittests

feat: Add AI capabilities to MCP tools, edge functions, and jobs
  docs/src/content/docs/guides/custom-mcp-tools.md
  docs/src/content/docs/guides/edge-functions.md
  docs/src/content/docs/guides/jobs.md
  internal/api/internal_ai_handler.go
  internal/api/internal_ai_handler_test.go
  internal/api/server.go
  internal/mcp/custom/executor.go
  internal/runtime/wrap.go
Due: unittests

fix: Make tests work again.
  cli/cmd/mcp.go
  internal/ai/storage.go
  internal/api/internal_ai_handler.go
  internal/api/server.go
  internal/mcp/custom/executor.go
  internal/mcp/custom/handler.go
  internal/mcp/registry.go
Due: unittests

fix: Solve linting error.
  internal/api/internal_ai_handler.go
Due: unittests

feat(dashboard): Add MCP tools management page
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/mcp-tools/index.tsx
Due: none

feat(api): Add MCP tools and resources endpoints to OpenAPI spec
  internal/api/openapi.go
Due: none

security(api): Restrict internal AI endpoints to localhost only
  internal/api/server.go
  internal/middleware/internal_only.go
  internal/middleware/internal_only_test.go
Due: unittests

security(api): Restrict internal AI endpoints to localhost only
  admin/src/routes/_authenticated/mcp-tools/index.tsx
  internal/database/migrations/069_mcp_grants.down.sql
  internal/database/migrations/069_mcp_grants.up.sql
Due: unittests

security(api): Restrict internal AI endpoints to localhost only
  admin/src/routeTree.gen.ts
Due: none

fix: Use different approach for IP.
  internal/middleware/internal_only.go
  internal/middleware/internal_only_test.go
Due: unittests

fix: Add tools dir.
  admin/package-lock.json
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/mcp-tools/index.tsx
  cli/cmd/sync.go
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  fluxbase.yaml.example
  internal/api/custom_mcp_handler.go
  internal/api/server.go
  internal/config/config.go
  internal/config/mcp.go
  internal/mcp/custom/handler.go
  internal/mcp/custom/loader.go
Due: unittests

fix: Include package-lock.
  admin/package-lock.json
Due: none

fix: Add defaults for syncing MCP tools.
  cli/cmd/mcp.go
  internal/api/custom_mcp_handler.go
Due: unittests

fix: Allow for selecting namespace when using chatbots.
  admin/src/routes/_authenticated/chatbots/index.tsx
  internal/ai/handler.go
  internal/ai/storage.go
  internal/api/server.go
  sdk/src/ai.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk
