Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

fix: Use the same encryption key everywhere.
  .env.example
  deploy/.env.example
  deploy/docker-compose.yml
  deploy/helm/fluxbase/examples/values-external.yaml
  deploy/helm/fluxbase/examples/values-standalone.yaml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/templates/httproute.yaml
  deploy/helm/fluxbase/templates/ingress.yaml
  deploy/helm/fluxbase/templates/service.yaml
  deploy/helm/fluxbase/values.yaml
  docs/src/content/docs/api/sdk/README.md
  docs/src/content/docs/api/sdk/classes/FluxbaseAdminRPC.md
  docs/src/content/docs/api/sdk/classes/FluxbaseJobs.md
  docs/src/content/docs/api/sdk/classes/FluxbaseRPC.md
  docs/src/content/docs/api/sdk/interfaces/ExecutionLog.md
  docs/src/content/docs/api/sdk/interfaces/RPCExecutionLog.md
  docs/src/content/docs/api/sdk/type-aliases/RPCExecutionLog.md
  docs/src/content/docs/intro.md
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/security/endpoint-protection.md
  docs/src/content/docs/supabase-comparison.md
  internal/api/oauth_handler.go
  internal/api/server.go
  internal/auth/interfaces.go
  internal/auth/magiclink.go
  internal/auth/password_reset.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/migrations/039_hash_security_tokens.down.sql
  internal/database/migrations/039_hash_security_tokens.up.sql
Due: unittests

fix: Implement rate limits for edge functions.
  deploy/helm/fluxbase/templates/httproute.yaml
  deploy/helm/fluxbase/templates/ingress.yaml
  deploy/helm/fluxbase/values.yaml
  internal/database/migrations/040_edge_function_rate_limit.down.sql
  internal/database/migrations/040_edge_function_rate_limit.up.sql
  internal/functions/handler.go
  internal/functions/loader.go
  internal/functions/storage.go
Due: unittests

fix: Update hash in test.
  internal/functions/storage.go
  test/e2e/rls_test.go
Due: unittests

fix: Implement distance parameter.
  internal/api/query_parser.go
  internal/api/query_parser_test.go
Due: unittests

docs: Improve and correct docs.
  docs/src/content/docs/guides/logging.md
  docs/src/content/docs/guides/rate-limiting.md
  docs/src/styles/custom.css
Due: none

docs: Add docs about rate limiting.
  docs/src/content/docs/guides/edge-functions.md
  internal/functions/README.md
Due: unittests

fix: Linting issues.
  internal/api/query_parser.go
Due: unittests

fix: Use non-wildcard CORS config by default.
  deploy/helm/fluxbase/values.yaml
Due: none

fix: Add debug logs.
  internal/middleware/rls.go
  internal/runtime/runtime.go
Due: unittests

fix: Potentially fix syncing.
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/migrations.go
  internal/api/rest_handler.go
  internal/middleware/apikey_auth.go
  internal/runtime/env.go
Due: unittests

fix: CLI improvements.
  .claude/settings.local.json
  .github/workflows/release.yml
  README.md
  cli/bundler/bundler.go
  cli/cmd/functions.go
  cli/cmd/jobs.go
  docs/src/content/docs/cli/installation.md
  sdk/src/admin-ai.ts
  sdk/src/client.ts
  sdk/src/functions.ts
  sdk/src/index.ts
  sdk/src/jobs.ts
  sdk/src/schema-query-builder.ts
  sdk/src/type-guards.test.ts
  sdk/src/type-guards.ts
  sdk/src/types.ts
Due: sdk

fix: Unittest fixes.
  internal/runtime/runtime_test.go
Due: none

fix: Better handling of provider details.
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/chatbots/index.tsx
  admin/src/routes/_authenticated/functions/index.tsx
  admin/src/routes/_authenticated/jobs/index.tsx
  admin/src/routes/_authenticated/rpc/index.tsx
  cli/cmd/root.go
  internal/ai/handler.go
  sdk/src/admin-ai.ts
Due: unittests, sdk

fix: Improve AI provider settings.
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  internal/ai/handler.go
  internal/ai/storage.go
  internal/api/server.go
  internal/api/vector_handler.go
  internal/config/config.go
Due: unittests

fix: Configure storage.
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  internal/config/config.go
Due: unittests

fix: Add secrets management and improve functions/jobs.
  .claude/settings.local.json
  CLAUDE.md
  admin/package-lock.json
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/lib/api.ts
  admin/src/routeTree.gen.ts
  admin/src/routes/_authenticated/secrets/index.tsx
  cli/bundler/bundler.go
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/root.go
  cli/cmd/secrets.go
  cli/main.go
  internal/api/server.go
  internal/auth/scopes.go
  internal/database/migrations/041_tables_secrets.down.sql
  internal/database/migrations/041_tables_secrets.up.sql
  internal/functions/bundler.go
  internal/functions/handler.go
  internal/functions/loader.go
  internal/functions/scheduler.go
  internal/jobs/loader.go
  internal/jobs/manager.go
  internal/jobs/worker.go
  internal/runtime/env.go
  internal/runtime/runtime.go
  internal/runtime/runtime_test.go
  internal/secrets/handler.go
  internal/secrets/handler_test.go
  internal/secrets/storage.go
  internal/secrets/storage_test.go
Due: unittests

docs: Add secret management to docs.
  docs/src/content/docs/guides/edge-functions.md
  docs/src/content/docs/guides/jobs.md
  docs/src/content/docs/supabase-comparison.md
Due: none

ci: Don't publish Postgres image by default.
  .github/workflows/release.yml
Due: none

fix: Also publish CLI in pipeline.
  .github/workflows/release.yml
  docs/astro.config.mjs
Due: none

fix: Fix unittests.
  internal/secrets/storage.go
Due: unittests

fix: Fix unit test and add Homebrew tap.
  .github/workflows/release.yml
  internal/auth/scopes_test.go
Due: none

fix: Add installation instructions for CLI.
  .github/workflows/release.yml
  docs/src/content/docs/cli/installation.md
  install-cli.sh
Due: none

fix: Increase CLI version automatically.
  .github/workflows/release.yml
  docs/src/content/docs/cli/installation.md
Due: none

fix: Add CLI installation instructions.
  README.md
  docs/src/content/docs/cli/installation.md
Due: none

fix: Use the right versioning in pipeline.
  .github/workflows/release.yml
Due: none

fix: Use right URL for CLI.
  install-cli.sh
Due: none

fix: Disable CGO.
  .github/workflows/release.yml
Due: none

fix: Don't require config file to be available.
  cli/cmd/root.go
Due: none

fix: Logic behind syncing.
  cli/config/config.go
Due: none

fix: Add sync command for all.
  cli/cmd/chatbots.go
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/rpc.go
  sdk-react/package-lock.json
  sdk/package-lock.json
Due: none

fix: Implement unified sync command.
  cli/cmd/chatbots.go
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/migrations.go
  cli/cmd/root.go
  cli/cmd/rpc.go
  cli/cmd/sync.go
Due: none

fix: Fix profile issue.
  cli/client/client.go
Due: none

fix: Don't automatically add an email provider.
  deploy/helm/fluxbase/values.yaml
Due: none

fix: Use SDK for managing email settings.
  admin/src/routes/_authenticated/email-settings/index.tsx
  docs/astro.config.mjs
  docs/src/content/docs/api/sdk/classes/EmailSettingsManager.md
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/cli/configuration.md
  docs/src/content/docs/cli/getting-started.md
  docs/src/content/docs/cli/installation.md
  docs/src/content/docs/cli/workflows.md
  docs/src/content/docs/sdk/settings.md
  sdk/package-lock.json
  sdk/src/index.ts
  sdk/src/settings.ts
  sdk/src/types.ts
Due: sdk

fix: Improve SMTP configuration.
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/chatbots/index.tsx
  admin/src/routes/_authenticated/functions/index.tsx
  admin/src/routes/_authenticated/jobs/index.tsx
  deploy/helm/fluxbase/templates/deployment.yaml
Due: none

fix: Issue with max number of results.
  .claude/settings.local.json
  internal/api/query_parser.go
  internal/api/rest_crud.go
Due: unittests

fix: Add custom settings encryption.
  cli/cmd/settings_secrets.go
  internal/api/custom_settings_handler.go
  internal/api/email_settings_handler.go
  internal/api/server.go
  internal/api/user_settings_handler.go
  internal/crypto/encrypt.go
  internal/database/migrations/042_settings_encryption.down.sql
  internal/database/migrations/042_settings_encryption.up.sql
  internal/email/manager.go
  internal/settings/custom_settings.go
  internal/settings/custom_settings_test.go
  internal/settings/secrets_service.go
  sdk/src/settings.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Add settings secrets command.
  cli/annotations/parser.go
  cli/annotations/parser_test.go
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/sync.go
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/sdk/settings.md
Due: none

fix: Distinguish between user-level and system-level secrets.
  cli/annotations/parser.go
  cli/annotations/parser_test.go
  internal/api/server.go
  internal/functions/handler.go
  internal/jobs/manager.go
  internal/jobs/worker.go
  internal/runtime/env.go
  internal/runtime/wrap.go
Due: unittests

fix: Enforce encryption key.
  .env.example
  deploy/docker-compose.yml
  deploy/helm/fluxbase/values.yaml
  docker-compose.yml
  docs/src/content/docs/cli/commands.md
  internal/config/config.go
  scripts/generate-keys.sh
Due: unittests

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**
