Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      go:
        flags: [unittests]
        target: 30%
        threshold: 5%
        informational: false
      sdk:
        flags: [sdk]
        target: 50%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

flags:
  unittests:
    paths:
      - internal/
      - cli/
      - cmd/
    carryforward: true
  sdk:
    paths:
      - sdk/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  # Test files
  - "**/*_test.go"
  - "**/*.test.ts"
  - "test/**"

  # Entry points and assets
  - "cmd/fluxbase/main.go"
  - "internal/adminui/**"

  # SDK non-source
  - "sdk/examples/**"
  - "sdk/scripts/**"

  # Infrastructure code (requires real DB/system deps, tested via E2E)
  - "internal/scaling/leader.go"
  - "internal/database/connection.go"
  - "internal/ai/ocr_tesseract.go"
  - "cli/**"

  # Pure type definitions
  - "internal/query/types.go"
  - "internal/branching/types.go"
  - "internal/jobs/types.go"
  - "internal/rpc/types.go"
  - "internal/mcp/types.go"
  - "internal/runtime/types.go"
  - "internal/extensions/models.go"
  - "internal/storage/log_types.go"
  - "internal/api/rest_errors.go"
  - "internal/api/graphql_types.go"
  - "internal/branching/errors.go"
  - "internal/database/errors.go"

  # Interface definitions
  - "internal/auth/interfaces.go"

  # Large generated files
  - "internal/api/openapi.go"

  # Test utilities
  - "internal/testutil/**"

fix: start real HTTP server for _fluxbaseService Deno callback test
  test/e2e/functions_execution_test.go
Due: none

fix: invalidate schema cache after creating test table for _fluxbaseService
  test/e2e/functions_execution_test.go
Due: none

fix: remove duplicate Server.Shutdown that caused close-of-closed-channel panic
  test/e2e/functions_execution_test.go
Due: none

fix: increase E2E UI job timeout from 20m to 30m
  .github/workflows/ci.yml
Due: none

fix: increase E2E UI timeout to 45m, optimize apt-get across all jobs
  .github/workflows/ci.yml
Due: none

fix: prevent Worker.Stop from blocking indefinitely on shutdown
  internal/jobs/worker.go
Due: unittests

perf: remove unused apt-get dependencies from all CI jobs
  .github/workflows/ci.yml
Due: none

feat: enforce chatbot settings, add KB/AI CLI commands, fix settings bug
  admin/src/components/chatbots/chatbot-settings-dialog.tsx
  cli/cmd/ai_metrics.go
  cli/cmd/ai_providers.go
  cli/cmd/chatbots.go
  cli/cmd/knowledgebases.go
  cli/cmd/root.go
  cli/cmd/settings.go
  internal/ai/chat_handler.go
  internal/ai/chatbot_limiter.go
  internal/ai/kb_storage.go
  internal/ai/knowledge_base.go
  internal/api/routes/ai_admin.go
  internal/api/routes_adapter.go
Due: unittests

feat: enforce chatbot settings, add KB/AI CLI commands, fix settings bug (#214)
  admin/src/components/chatbots/chatbot-settings-dialog.tsx
  cli/cmd/ai_metrics.go
  cli/cmd/ai_providers.go
  cli/cmd/chatbots.go
  cli/cmd/knowledgebases.go
  cli/cmd/root.go
  cli/cmd/settings.go
  internal/ai/chat_handler.go
  internal/ai/chatbot_limiter.go
  internal/ai/kb_storage.go
  internal/ai/knowledge_base.go
  internal/api/routes/ai_admin.go
  internal/api/routes_adapter.go
Due: unittests

fix: wire admin KB routes for documents, search, graph and switch admin UI to admin endpoints
  admin/src/lib/api/knowledge-bases.ts
  admin/src/routes/_authenticated/knowledge-bases/index.tsx
  internal/ai/kb_handler.go
  internal/ai/kb_handler_docs.go
  internal/ai/kb_handler_perms.go
  internal/ai/kb_handler_search.go
  internal/ai/kb_storage.go
  internal/api/routes/ai_admin.go
  internal/api/routes_adapter.go
  internal/auth/impersonation.go
  internal/auth/invitation.go
  internal/extensions/service.go
  internal/functions/storage.go
  internal/jobs/storage.go
  internal/rpc/storage.go
  internal/secrets/storage.go
  internal/webhook/trigger.go
  internal/webhook/webhook.go
Due: unittests

fix: read KB ID from request body in table export handler, add Export All button
  admin/src/routes/_authenticated/knowledge-bases/$id/tables.tsx
  internal/ai/kb_handler.go
Due: unittests

fix: set owner_id to nil for admin table exports to avoid FK violation
  internal/ai/kb_handler.go
Due: unittests

feat: add user_count and admin_count to tenant detail, assign initial admin to default tenant
  admin/src/lib/api/tenants.ts
  admin/src/routes/_authenticated/tenants/$tenantId.tsx
  internal/api/admin_auth_handler.go
  internal/api/tenant_handler.go
Due: unittests

Delete release-notes.md
  release-notes.md
Due: none

fix: use tenant UUID for user count instead of IS NULL check
  internal/api/tenant_handler.go
Due: unittests

fix: qualify current_user_role() with auth schema in oauth_providers RLS policy
  internal/database/schema/schemas/post-schema.sql
Due: unittests

fix(docs): update broken links in admin, developer-guide, and distributed-tracing docs
  docs/src/content/docs/guides/admin/index.md
  docs/src/content/docs/guides/developer-guide.md
  docs/src/content/docs/guides/distributed-tracing.md
Due: none

fix(docs): update broken links in admin, developer-guide, and distributed-tracing docs (#216)
  docs/src/content/docs/guides/admin/index.md
  docs/src/content/docs/guides/developer-guide.md
  docs/src/content/docs/guides/distributed-tracing.md
Due: none

fix: resolve 6 bugs across auth, realtime, DDL, and test infrastructure
  docs/src/content/docs/guides/edge-functions.md
  internal/api/ddl_handler.go
  internal/auth/security_events.go
  internal/middleware/rls.go
  internal/middleware/rls_integration_test.go
  internal/middleware/tenant_db.go
  internal/middleware/tenant_db_integration_test.go
  internal/middleware/tenant_db_test.go
  internal/realtime/filter.go
  internal/realtime/handler.go
  internal/realtime/subscription.go
Due: unittests

refactor: clean up tenancy, auth, runtime, and remove Supabase remnants
  cmd/fluxbase/main.go
  internal/api/auth_handler.go
  internal/api/auth_handler_test.go
  internal/api/graphql_resolvers.go
  internal/api/handler_groups.go
  internal/api/routes/tenant_middleware_test.go
  internal/api/tenant_handler.go
  internal/api/tenant_settings_handler.go
  internal/auth/jwt.go
  internal/auth/jwt_test.go
  internal/auth/mfa.go
  internal/auth/oauth_logout.go
  internal/auth/scopes.go
  internal/auth/scopes_test.go
  internal/auth/service.go
  internal/auth/service_test.go
  internal/auth/service_tokens.go
  internal/auth/totp_response_test.go
  internal/auth/user_management.go
  internal/database/connection.go
  internal/database/retry.go
  internal/jobs/storage.go
  internal/mcp/auth.go
  internal/middleware/clientkey_auth.go
  internal/runtime/execute_helpers.go
  internal/runtime/runtime.go
  internal/tenantdb/backfill.go
  internal/tenantdb/bootstrap_keys.go
  internal/tenantdb/declarative.go
  internal/tenantdb/fdw.go
  internal/tenantdb/fdw_integration_test.go
  internal/tenantdb/fdw_test.go
  internal/tenantdb/manager.go
  internal/tenantdb/manager_integration_test.go
  internal/tenantdb/router.go
  internal/tenantdb/storage.go
  internal/tenantdb/storage_integration_test.go
  internal/tenantdb/storage_test.go
Due: unittests

refactor: remove broadcast endpoint, cache middleware, simplify route registry
  internal/api/auth_magiclink_integration_test.go
  internal/api/auth_middleware.go
  internal/api/auth_middleware_test.go
  internal/api/auth_otp_integration_test.go
  internal/api/openapi_realtime.go
  internal/api/routes/realtime.go
  internal/api/routes/registry.go
  internal/api/routes_adapter.go
  internal/api/server.go
  internal/api/server_init.go
  test/e2e/transaction_example_test.go
  test/e2e_helpers.go
Due: unittests

fix: critical and high severity fixes from second codebase sweep
  internal/api/monitoring_handler.go
  internal/api/server.go
  internal/api/sql_handler_test.go
  internal/api/storage_utils.go
  internal/auth/clientkey_test.go
  internal/database/connection.go
  internal/functions/handler_execute.go
  internal/functions/scheduler.go
  internal/jobs/handler_jobs.go
  internal/jobs/storage.go
  internal/jobs/worker.go
  internal/logutil/sanitizer.go
  internal/mcp/tools/invoke.go
  internal/middleware/rate_limiter.go
  internal/observability/metrics.go
  internal/realtime/connection.go
  internal/realtime/handler.go
  internal/realtime/integration/websocket_protocol_test.go
  internal/realtime/manager.go
  internal/realtime/manager_test.go
  internal/realtime/presence.go
  internal/realtime/presence_test.go
  internal/realtime/subscription.go
  internal/realtime/subscription_test.go
  internal/runtime/execute_helpers.go
  internal/runtime/runtime.go
  internal/scaling/leader.go
  internal/tenantdb/manager.go
Due: unittests

test: add unit tests for second sweep critical and high fixes
  internal/jobs/storage_test.go
  internal/realtime/connection_test.go
  internal/realtime/manager_test.go
  internal/runtime/types_test.go
  internal/scaling/leader_test.go
Due: none

fix: frontend cleanup — admin UI, SDK, and SDK-React (17 items)
  admin/src/components/branch-selector.tsx
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/features/users/components/users-invite-dialog.tsx
  admin/src/hooks/use-auth.ts
  admin/src/lib/api/auth.ts
  admin/src/lib/api/client.ts
  admin/src/lib/fluxbase-client.ts
  admin/src/lib/get-error-message.ts
  admin/src/routes/_authenticated/email-settings/index.tsx
  admin/src/routes/_authenticated/extensions/index.tsx
  admin/src/routes/_authenticated/route.tsx
  admin/src/routes/_authenticated/security-settings/index.tsx
  admin/src/stores/auth-store.ts
  sdk-react/src/index.ts
  sdk-react/src/use-branches.ts
  sdk-react/src/use-functions.ts
  sdk-react/src/use-jobs.ts
  sdk-react/src/use-query.ts
  sdk-react/src/use-tenant.ts
  sdk/src/fetch.ts
  sdk/src/response.ts
  sdk/src/storage.ts
  sdk/src/tenant.ts
  sdk/src/types.ts
Due: sdk

docs: update CLAUDE.md with Phase 1-4 and second sweep changes
  CLAUDE.md
Due: none

fix: remaining HIGH items and important MEDIUM fixes
  go.mod
  go.sum
  internal/api/bulk_operations_handler.go
  internal/api/data_export_handler.go
  internal/config/tenant_loader.go
  internal/extensions/handler.go
  internal/extensions/service.go
  internal/functions/loader.go
  internal/functions/scheduler.go
  internal/functions/scheduler_test.go
  internal/migrations/executor.go
  internal/realtime/connection.go
  internal/realtime/handler.go
  internal/realtime/subscription.go
  internal/storage/local.go
  internal/tenantdb/fdw.go
  internal/tenantdb/manager.go
Due: unittests

fix: remaining MEDIUM and LOW severity items from second sweep
  internal/api/data_export_handler.go
  internal/api/logging_handlers.go
  internal/api/monitoring_handler.go
  internal/api/schema_export.go
  internal/api/server.go
  internal/auth/platform.go
  internal/auth/user.go
  internal/auth/user_management.go
  internal/jobs/manager.go
  internal/jobs/worker.go
  internal/middleware/etag.go
  internal/middleware/etag_test.go
  internal/middleware/rate_limit_factory.go
  internal/observability/tracer.go
  internal/secrets/handler.go
  internal/secrets/handler_test.go
  internal/secrets/storage.go
  internal/tenantdb/bootstrap_keys.go
Due: unittests

fix: remaining LOW items and start error response migration
  internal/api/server.go
  internal/database/connection.go
  internal/database/connection_metrics.go
  internal/jobs/storage.go
  internal/jobs/storage_test.go
  internal/middleware/idempotency.go
  internal/middleware/rate_limiter.go
  internal/realtime/listener.go
  internal/realtime/listener_helpers.go
  internal/realtime/listener_pool.go
  internal/realtime/presence.go
  internal/webhook/trigger.go
Due: unittests

refactor: introduce Module interface and ServiceRegistry (Phase 3a)
  internal/api/module.go
  internal/api/module_email.go
  internal/api/module_extensions.go
  internal/api/module_secrets.go
  internal/api/module_webhook.go
  internal/api/server.go
Due: unittests

refactor: extract Storage, Logging, Auth modules and delete old init methods (Phase 3b)
  internal/api/module_auth.go
  internal/api/module_logging.go
  internal/api/module_storage.go
  internal/api/server.go
  internal/api/server_init.go
Due: unittests

refactor: extract 10 remaining modules, delete old init methods (Phase 3c)
  internal/api/module_ai.go
  internal/api/module_branching.go
  internal/api/module_functions.go
  internal/api/module_graphql.go
  internal/api/module_jobs.go
  internal/api/module_logging.go
  internal/api/module_realtime.go
  internal/api/module_rpc.go
  internal/api/module_schema.go
  internal/api/module_settings.go
  internal/api/module_tenancy.go
  internal/api/server.go
  internal/api/server_init.go
Due: unittests

refactor: extract MCP and Metrics modules, move branch helpers (Phase 3d)
  internal/api/module_ai.go
  internal/api/module_branching.go
  internal/api/module_mcp.go
  internal/api/module_metrics.go
  internal/api/server.go
  internal/api/server_init.go
Due: unittests

refactor: remove 11 dead fields from Server struct (Phase 3e)
  internal/api/module.go
  internal/api/server.go
Due: unittests

docs: update CLAUDE.md with Phase 3 module system documentation
  CLAUDE.md
Due: none

refactor: architecture polish — eliminate globals, extract background services, split files
  internal/api/module.go
  internal/api/module_background.go
  internal/api/module_functions.go
  internal/api/server.go
  internal/api/server_init.go
  internal/api/server_middlewares.go
  internal/api/server_routes.go
  internal/api/server_test.go
  internal/functions/handler.go
  internal/functions/handler_execute.go
  internal/pubsub/factory.go
Due: unittests

fix: restore pubsub.GlobalPubSub for E2E test compatibility
  internal/pubsub/factory.go
  test/e2e_helpers.go
Due: unittests

fix: E2E test connection exhaustion and client_keys schema reference
  .devcontainer/docker-compose.yml
  internal/api/module_background.go
  test/e2e_helpers.go
Due: unittests

fix: prevent PostgreSQL from normalizing qualified function references during schema apply
  internal/database/schema/schemas/auth.sql
  internal/migrations/declarative.go
Due: unittests

feat: self-sufficient Go E2E tests with fresh database (fluxbase_go_e2e)
  .devcontainer/init-db.sql
  .devcontainer/post-create.sh
  .github/workflows/ci.yml
  Makefile
  test/e2e/setup_test.go
  test/e2e_helpers.go
Due: none
