Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      go:
        flags: [unittests]
        target: 30%
        threshold: 5%
        informational: false
      sdk:
        flags: [sdk]
        target: 50%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

flags:
  unittests:
    paths:
      - internal/
      - cli/
      - cmd/
    carryforward: true
  sdk:
    paths:
      - sdk/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  # Test files
  - "**/*_test.go"
  - "**/*.test.ts"
  - "test/**"

  # Entry points and assets
  - "cmd/fluxbase/main.go"
  - "internal/adminui/**"

  # SDK non-source
  - "sdk/examples/**"
  - "sdk/scripts/**"

  # Infrastructure code (requires real DB/system deps, tested via E2E)
  - "internal/scaling/leader.go"
  - "internal/database/connection.go"
  - "internal/ai/ocr_tesseract.go"
  - "cli/**"

  # Pure type definitions
  - "internal/query/types.go"
  - "internal/branching/types.go"
  - "internal/jobs/types.go"
  - "internal/rpc/types.go"
  - "internal/mcp/types.go"
  - "internal/runtime/types.go"
  - "internal/extensions/models.go"
  - "internal/storage/log_types.go"
  - "internal/api/rest_errors.go"
  - "internal/api/graphql_types.go"
  - "internal/branching/errors.go"
  - "internal/database/errors.go"

  # Interface definitions
  - "internal/auth/interfaces.go"

  # Large generated files
  - "internal/api/openapi.go"

  # Test utilities
  - "internal/testutil/**"

docs: fix accuracy defects and broken examples across guides
  docs/astro.config.mjs
  docs/src/content/docs/api-cookbook.md
  docs/src/content/docs/api/http/graphql/index.md
  docs/src/content/docs/api/http/index.md
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/deployment/scaling.md
  docs/src/content/docs/getting-started/quick-start.mdx
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/branching/index.md
  docs/src/content/docs/guides/database-migrations.md
  docs/src/content/docs/guides/edge-functions.md
  docs/src/content/docs/guides/image-transformations.md
  docs/src/content/docs/guides/jobs.md
  docs/src/content/docs/guides/knowledge-bases.md
  docs/src/content/docs/guides/mcp/index.mdx
  docs/src/content/docs/guides/mcp/integration-guide.md
  docs/src/content/docs/guides/mcp/tools.md
  docs/src/content/docs/guides/rate-limiting.md
  docs/src/content/docs/guides/row-level-security.md
  docs/src/content/docs/guides/rpc.md
  docs/src/content/docs/guides/storage.md
  docs/src/content/docs/guides/tutorials/first-api.md
  docs/src/content/docs/intro.md
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/sdk-react/getting-started.md
  docs/src/content/docs/sdk/admin.md
  docs/src/content/docs/sdk/advanced-features.md
  docs/src/content/docs/sdk/ddl.md
  docs/src/content/docs/sdk/getting-started.md
  docs/src/content/docs/sdk/settings.md
  docs/src/content/docs/supabase-comparison.md
Due: none

fix: ListSettings crashes on NULL description
  docs/src/content/docs/guides/admin/user-impersonation.md
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/captcha.md
  docs/src/content/docs/guides/jobs.md
  docs/src/content/docs/guides/logging.md
  docs/src/content/docs/guides/monitoring-observability.md
  docs/src/content/docs/guides/oauth-providers.md
  docs/src/content/docs/guides/realtime.md
  docs/src/content/docs/guides/testing.md
  internal/settings/custom_settings.go
Due: unittests

docs: fix second tier of accuracy defects from audit
  docs/src/content/docs/guides/rpc.md
  docs/src/content/docs/guides/webhooks.md
Due: none

docs: add missing annotations, env vars, and tenant endpoints
  docs/src/content/docs/guides/captcha.md
  docs/src/content/docs/guides/edge-functions.md
  docs/src/content/docs/guides/jobs.md
  docs/src/content/docs/guides/multi-tenancy.md
Due: none

docs: document email templates API and per-tenant overrides
  docs/src/content/docs/guides/email-services.md
Due: none

docs: document AI reasoning modes, intent rules, and more endpoints
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/logging.md
  docs/src/content/docs/guides/oauth-providers.md
Due: none

feat(sdk-react): export ddl/migrations/impersonation/jobs/branches/functions hooks
  sdk-react/src/index.test.ts
  sdk-react/src/index.ts
Due: none

feat(sdk): widen ServiceKey key_type to include publishable/tenant_service/global_service
  sdk/src/types.ts
Due: sdk

chore(config): drop phantom config keys from example and helm values
  deploy/helm/fluxbase/values.yaml
  fluxbase.yaml.example
Due: none

feat(api): record service-key revocations in audit table
  internal/api/servicekey_handler.go
  internal/api/servicekey_handler_test.go
Due: unittests

docs: add Service Keys and Dashboard Auth guides
  docs/astro.config.mjs
  docs/src/content/docs/api/http/index.md
  docs/src/content/docs/guides/client-keys.md
  docs/src/content/docs/guides/dashboard-auth.md
  docs/src/content/docs/guides/service-keys.md
Due: none

docs: polish oauth/deployment/supabase examples
  docs/src/content/docs/deployment/overview.md
  docs/src/content/docs/guides/oauth-providers.md
  docs/src/content/docs/supabase-comparison.md
Due: none

chore(docs): regenerate TypeDoc references for SDK changes
  docs/src/content/docs/api/sdk-react/README.md
  docs/src/content/docs/api/sdk-react/functions/useApplyMigration.md
  docs/src/content/docs/api/sdk-react/functions/useBranches.md
  docs/src/content/docs/api/sdk-react/functions/useCancelJob.md
  docs/src/content/docs/api/sdk-react/functions/useCreateBranch.md
  docs/src/content/docs/api/sdk-react/functions/useCreateSchema.md
  docs/src/content/docs/api/sdk-react/functions/useCurrentImpersonation.md
  docs/src/content/docs/api/sdk-react/functions/useDeleteBranch.md
  docs/src/content/docs/api/sdk-react/functions/useDeleteTable.md
  docs/src/content/docs/api/sdk-react/functions/useFunctions.md
  docs/src/content/docs/api/sdk-react/functions/useImpersonateUser.md
  docs/src/content/docs/api/sdk-react/functions/useImpersonationSessions.md
  docs/src/content/docs/api/sdk-react/functions/useJobs.md
  docs/src/content/docs/api/sdk-react/functions/useMigrations.md
  docs/src/content/docs/api/sdk-react/functions/useResetBranch.md
  docs/src/content/docs/api/sdk-react/functions/useRetryJob.md
  docs/src/content/docs/api/sdk-react/functions/useRollbackMigration.md
  docs/src/content/docs/api/sdk-react/functions/useSchemas.md
  docs/src/content/docs/api/sdk-react/functions/useStopImpersonation.md
  docs/src/content/docs/api/sdk-react/functions/useSyncMigrations.md
  docs/src/content/docs/api/sdk-react/functions/useTables.md
  docs/src/content/docs/api/sdk-react/interfaces/UseBranchesOptions.md
  docs/src/content/docs/api/sdk-react/interfaces/UseCreateBranchParams.md
  docs/src/content/docs/api/sdk-react/interfaces/UseJobsOptions.md
  docs/src/content/docs/api/sdk/interfaces/ServiceKey.md
  docs/src/content/docs/api/sdk/interfaces/ServiceKeyWithKey.md
Due: none

fix(cli): display sync errors in chatbot sync output
  cli/cmd/chatbots.go
Due: none

fix(cli): display sync errors in chatbot sync output (#248)
  cli/cmd/chatbots.go
Due: none

fix(deps): adapt to react-day-picker v10, react-hooks 7.1, trivy overrides
  admin/eslint.config.js
  admin/src/components/authentication/auth-settings-tab.tsx
  admin/src/components/ui/calendar.tsx
  bun.lock
  package.json
Due: none

test(e2e): fix flaky SQL Editor selector targeting Monaco's hidden IME textarea
  admin/tests/e2e/database-pages.spec.ts
Due: none

feat(ai): multi-agent supervisor + page-aware chatbots
  CLAUDE.md
  docs/src/content/docs/about/ai-transparency.md
  docs/src/content/docs/guides/ai-agents.md
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/ai-events.md
  internal/ai/agent_deps.go
  internal/ai/agent_prompts.go
  internal/ai/agent_specialists.go
  internal/ai/agent_sql.go
  internal/ai/agent_supervisor.go
  internal/ai/agent_supervisor_test.go
  internal/ai/agent_synthesizer_verifier.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_message.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/chatbot.go
  internal/ai/fake_provider_test.go
  internal/ai/graph.go
  internal/ai/graph_test.go
  internal/ai/page_context.go
  internal/ai/page_context_test.go
  internal/ai/provider.go
  internal/ai/provider_anthropic.go
  internal/ai/schema_builder.go
  internal/ai/supervisor_graph.go
  internal/ai/verifier_test.go
  sdk/src/ai.ts
  sdk/src/types.ts
Due: unittests, sdk

feat(ai): multi-agent supervisor + page-aware chatbots (#249)
  CLAUDE.md
  docs/src/content/docs/about/ai-transparency.md
  docs/src/content/docs/guides/ai-agents.md
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/ai-events.md
  internal/ai/agent_deps.go
  internal/ai/agent_prompts.go
  internal/ai/agent_specialists.go
  internal/ai/agent_sql.go
  internal/ai/agent_supervisor.go
  internal/ai/agent_supervisor_test.go
  internal/ai/agent_synthesizer_verifier.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_message.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/chatbot.go
  internal/ai/fake_provider_test.go
  internal/ai/graph.go
  internal/ai/graph_test.go
  internal/ai/page_context.go
  internal/ai/page_context_test.go
  internal/ai/provider.go
  internal/ai/provider_anthropic.go
  internal/ai/schema_builder.go
  internal/ai/supervisor_graph.go
  internal/ai/verifier_test.go
  sdk/src/ai.ts
  sdk/src/types.ts
Due: unittests, sdk

fix(docs): wrap autogenerate sidebar items per Starlight 0.39+ schema
  docs/astro.config.mjs
  docs/src/content/docs/api/sdk-react/functions/useAuth.md
  docs/src/content/docs/api/sdk-react/functions/useAuthConfig.md
  docs/src/content/docs/api/sdk-react/functions/useCaptcha.md
  docs/src/content/docs/api/sdk-react/functions/useCaptchaConfig.md
  docs/src/content/docs/api/sdk-react/functions/useChatbots.md
  docs/src/content/docs/api/sdk-react/functions/useConversation.md
  docs/src/content/docs/api/sdk-react/functions/useConversations.md
  docs/src/content/docs/api/sdk-react/functions/useCurrentImpersonation.md
  docs/src/content/docs/api/sdk-react/functions/useFluxbaseQuery.md
  docs/src/content/docs/api/sdk-react/functions/useGraphQLIntrospection.md
  docs/src/content/docs/api/sdk-react/functions/useGraphQLQuery.md
  docs/src/content/docs/api/sdk-react/functions/useImpersonationSessions.md
  docs/src/content/docs/api/sdk-react/functions/useKBDocuments.md
  docs/src/content/docs/api/sdk-react/functions/useKBEntities.md
  docs/src/content/docs/api/sdk-react/functions/useKBSearch.md
  docs/src/content/docs/api/sdk-react/functions/useKnowledgeBase.md
  docs/src/content/docs/api/sdk-react/functions/useKnowledgeBases.md
  docs/src/content/docs/api/sdk-react/functions/useKnowledgeGraph.md
  docs/src/content/docs/api/sdk-react/functions/useMigrations.md
  docs/src/content/docs/api/sdk-react/functions/useRPCList.md
  docs/src/content/docs/api/sdk-react/functions/useSAMLProviders.md
  docs/src/content/docs/api/sdk-react/functions/useSchemas.md
  docs/src/content/docs/api/sdk-react/functions/useSecrets.md
  docs/src/content/docs/api/sdk-react/functions/useServiceKeys.md
  docs/src/content/docs/api/sdk-react/functions/useSession.md
  docs/src/content/docs/api/sdk-react/functions/useStorageBuckets.md
  docs/src/content/docs/api/sdk-react/functions/useStorageDownload.md
  docs/src/content/docs/api/sdk-react/functions/useStorageList.md
  docs/src/content/docs/api/sdk-react/functions/useTable.md
  docs/src/content/docs/api/sdk-react/functions/useTables.md
  docs/src/content/docs/api/sdk-react/functions/useUser.md
  docs/src/content/docs/api/sdk/classes/FluxbaseAIChat.md
  docs/src/content/docs/api/sdk/interfaces/AIChatClientMessage.md
  docs/src/content/docs/api/sdk/interfaces/AIChatEvent.md
  docs/src/content/docs/api/sdk/interfaces/AIChatOptions.md
  docs/src/content/docs/api/sdk/interfaces/AIChatServerMessage.md
  docs/src/content/docs/api/sdk/type-aliases/AIChatEventType.md
Due: none

fix(cli): add --namespace flag to `chatbots list`
  cli/cmd/chatbots.go
  cli/cmd/chatbots_test.go
  cli/cmd/test_helpers.go
  internal/ai/handler.go
Due: unittests

fix(cli): add --namespace flag to `chatbots list` (#250)
  cli/cmd/chatbots.go
  cli/cmd/chatbots_test.go
  cli/cmd/test_helpers.go
  internal/ai/handler.go
Due: unittests

fix(cli+storage): sync tenant_id propagation + per-file debug logging
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  internal/ai/storage.go
  internal/rpc/storage.go
  internal/sync/sync_test.go
Due: unittests

fix(ai): supervisor crash, language regression, thought streaming, history
  internal/ai/agent_deps.go
  internal/ai/agent_prompts.go
  internal/ai/agent_specialists.go
  internal/ai/agent_sql.go
  internal/ai/agent_supervisor.go
  internal/ai/agent_synthesizer_verifier.go
  internal/ai/agent_thought_test.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/conversation.go
  internal/ai/language_override_test.go
  internal/ai/mcp_bridge.go
  internal/ai/mcp_bridge_test.go
  internal/ai/provider.go
  internal/database/schema/schemas/ai.sql
  internal/database/schema/schemas/post-schema.sql
  sdk/src/ai.ts
  sdk/src/types.ts
Due: unittests, sdk

fix(ai+cli): supervisor crash, language regression, thought streaming, sync tenant_id (#251)
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  internal/ai/agent_deps.go
  internal/ai/agent_prompts.go
  internal/ai/agent_specialists.go
  internal/ai/agent_sql.go
  internal/ai/agent_supervisor.go
  internal/ai/agent_synthesizer_verifier.go
  internal/ai/agent_thought_test.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/conversation.go
  internal/ai/language_override_test.go
  internal/ai/mcp_bridge.go
  internal/ai/mcp_bridge_test.go
  internal/ai/provider.go
  internal/ai/storage.go
  internal/database/schema/schemas/ai.sql
  internal/database/schema/schemas/post-schema.sql
  internal/rpc/storage.go
  internal/sync/sync_test.go
  sdk/src/ai.ts
  sdk/src/types.ts
Due: unittests, sdk

fix(ai): invoke_rpc nil-deref crash + supervisor router panic recovery
  internal/ai/router_panic_test.go
  internal/ai/supervisor_graph.go
  internal/mcp/tools/invoke.go
  internal/rpc/storage.go
Due: unittests

fix(ci): gofumpt formatting + lychee v0.24 config migration
  .lychee.toml
  internal/ai/agent_synthesizer_verifier.go
Due: unittests

fix(ai): invoke_rpc nil-deref crash + supervisor router panic recovery (#252)
  .lychee.toml
  internal/ai/agent_synthesizer_verifier.go
  internal/ai/router_panic_test.go
  internal/ai/supervisor_graph.go
  internal/mcp/tools/invoke.go
  internal/rpc/storage.go
Due: unittests

fix(ai): conversations saved with NULL user_id break listConversations
  internal/ai/conversation.go
  internal/ai/conversation_user_id_test.go
Due: unittests

fix(ai): conversations saved with NULL user_id break listConversations (#253)
  internal/ai/conversation.go
  internal/ai/conversation_user_id_test.go
Due: unittests

feat(ai): Tavily web search as first-class tool integration
  CLAUDE.md
  admin/src/components/ai-integrations/create-integration-dialog.tsx
  admin/src/components/ai-integrations/edit-integration-dialog.tsx
  admin/src/components/ai-integrations/tool-integrations-tab.tsx
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/routeTree.gen.ts
  admin/src/routes/_authenticated/ai-integrations/index.tsx
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/ai-integrations.md
  fluxbase.yaml.example
  internal/ai/agent_deps.go
  internal/ai/agent_prompts.go
  internal/ai/agent_supervisor.go
  internal/ai/agent_web.go
  internal/ai/agent_web_test.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/chatbot.go
  internal/ai/integrations/crypto.go
  internal/ai/integrations/crypto_test.go
  internal/ai/integrations/env_config.go
  internal/ai/integrations/handler.go
  internal/ai/integrations/storage.go
  internal/ai/integrations/tavily.go
  internal/ai/integrations/tavily_test.go
  internal/ai/page_context_test.go
  internal/ai/supervisor_graph.go
  internal/api/handler_groups.go
  internal/api/module_ai.go
  internal/api/routes/ai_admin.go
  internal/api/routes_admin.go
  internal/config/config_ai.go
  internal/config/config_defaults.go
  internal/database/schema/schemas/ai.sql
  internal/settings/unified_service.go
  sdk/src/admin-ai.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk

fix(admin): include client.admin.ai in tool-integrations queryKey
  admin/src/components/ai-integrations/tool-integrations-tab.tsx
Due: none

feat(ai): Tavily web search as first-class tool integration (#254)
  CLAUDE.md
  admin/src/components/ai-integrations/create-integration-dialog.tsx
  admin/src/components/ai-integrations/edit-integration-dialog.tsx
  admin/src/components/ai-integrations/tool-integrations-tab.tsx
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/routeTree.gen.ts
  admin/src/routes/_authenticated/ai-integrations/index.tsx
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/ai-integrations.md
  fluxbase.yaml.example
  internal/ai/agent_deps.go
  internal/ai/agent_prompts.go
  internal/ai/agent_supervisor.go
  internal/ai/agent_web.go
  internal/ai/agent_web_test.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_supervisor.go
  internal/ai/chatbot.go
  internal/ai/integrations/crypto.go
  internal/ai/integrations/crypto_test.go
  internal/ai/integrations/env_config.go
  internal/ai/integrations/handler.go
  internal/ai/integrations/storage.go
  internal/ai/integrations/tavily.go
  internal/ai/integrations/tavily_test.go
  internal/ai/page_context_test.go
  internal/ai/supervisor_graph.go
  internal/api/handler_groups.go
  internal/api/module_ai.go
  internal/api/routes/ai_admin.go
  internal/api/routes_admin.go
  internal/config/config_ai.go
  internal/config/config_defaults.go
  internal/database/schema/schemas/ai.sql
  internal/settings/unified_service.go
  sdk/src/admin-ai.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk

test(integrations): cover env_config + handler helpers to clear 20% gate
  internal/ai/integrations/env_config_test.go
  internal/ai/integrations/handler_test.go
Due: none

fix(integrations): populate created_by on create to avoid uuid cast error
  internal/ai/integrations/handler.go
  internal/ai/integrations/storage.go
Due: unittests

test(integrations): cover env_config + handler helpers to clear 20% coverage gate (#255)
  internal/ai/integrations/env_config_test.go
  internal/ai/integrations/handler.go
  internal/ai/integrations/handler_test.go
  internal/ai/integrations/storage.go
Due: unittests

fix(rpc): honor optional '?' marker in input_schema when building SQL
  internal/rpc/executor.go
  internal/rpc/executor_test.go
Due: unittests

fix(rpc): honor optional '?' marker in input_schema when building SQL (#256)
  internal/rpc/executor.go
  internal/rpc/executor_test.go
Due: unittests
