Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      go:
        flags: [unittests]
        target: 30%
        threshold: 5%
        informational: false
      sdk:
        flags: [sdk]
        target: 50%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

flags:
  unittests:
    paths:
      - internal/
      - cli/
      - cmd/
    carryforward: true
  sdk:
    paths:
      - sdk/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  # Test files
  - "**/*_test.go"
  - "**/*.test.ts"
  - "test/**"

  # Entry points and assets
  - "cmd/fluxbase/main.go"
  - "internal/adminui/**"

  # SDK non-source
  - "sdk/examples/**"
  - "sdk/scripts/**"

  # Infrastructure code (requires real DB/system deps, tested via E2E)
  - "internal/scaling/leader.go"
  - "internal/database/connection.go"
  - "internal/ai/ocr_tesseract.go"
  - "cli/**"

  # Pure type definitions
  - "internal/query/types.go"
  - "internal/branching/types.go"
  - "internal/jobs/types.go"
  - "internal/rpc/types.go"
  - "internal/mcp/types.go"
  - "internal/runtime/types.go"
  - "internal/extensions/models.go"
  - "internal/storage/log_types.go"
  - "internal/api/rest_errors.go"
  - "internal/api/graphql_types.go"
  - "internal/branching/errors.go"
  - "internal/database/errors.go"

  # Interface definitions
  - "internal/auth/interfaces.go"

  # Large generated files
  - "internal/api/openapi.go"

  # Test utilities
  - "internal/testutil/**"

fix: Make MCP tools page prettier.
  admin/src/routes/_authenticated/mcp-tools/index.tsx
  internal/middleware/body_limit.go
Due: unittests

fix: Remove MCP resources; we only need MCP tools.
  admin/src/routes/_authenticated/mcp-tools/index.tsx
  cli/bundler/analyzer.go
  cli/bundler/analyzer_test.go
  cli/bundler/display.go
  cli/bundler/metafile.go
  cli/cmd/mcp.go
  cli/cmd/sync.go
  go.mod
  go.sum
Due: none

fix: Increase job size limit.
  cli/bundler/display.go
  internal/middleware/body_limit.go
Due: unittests

fix: Parse MCP annotations correctly.
  admin/package-lock.json
  cli/cmd/mcp.go
  cli/cmd/sync.go
Due: none

fix: Enrich intent rules of chatbots.
  internal/ai/chat_handler.go
  internal/ai/chatbot.go
  internal/ai/intent_validator.go
  internal/ai/intent_validator_test.go
  internal/ai/schema_builder.go
Due: unittests

fix: Implement forbiddenTools.
  internal/ai/chat_handler.go
  internal/ai/intent_validator.go
Due: unittests

fix: Add renovate config.
  renovate.json
Due: none

fix: Improve structured chat results.
  admin/package-lock.json
  admin/src/features/tables/components/table-viewer.tsx
  cli/cmd/rpc.go
  internal/ai/chat_handler.go
  internal/ai/chat_handler_test.go
  internal/ai/mcp_bridge.go
  internal/ai/mcp_executor.go
  internal/ai/mcp_tools.go
  internal/ai/provider.go
  internal/api/query_parser.go
  internal/api/rest_geojson.go
  internal/api/rest_query.go
  internal/api/server.go
  internal/mcp/auth.go
  internal/mcp/tools/execute_sql.go
  internal/mcp/tools/vectors.go
  internal/middleware/migrations_security.go
  internal/middleware/migrations_security_test.go
  internal/middleware/rate_limiter.go
  internal/middleware/rate_limiter_test.go
  internal/realtime/handler.go
  internal/realtime/subscription.go
  internal/realtime/subscription_test.go
  internal/rpc/handler.go
  sdk/src/ai.ts
  sdk/src/query-builder.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Add privacy policy.
  docs/astro.config.mjs
  docs/src/components/Footer.astro
  docs/src/content/docs/legal/privacy-policy.md
  internal/ai/chat_handler.go
  internal/ai/mcp_tools.go
  internal/ai/mcp_tools_test.go
Due: unittests

fix: Increase timeout for bundling.
  .claude/settings.local.json
  cli/bundler/bundler.go
Due: none

fix: Upsert shared modules.
  cli/cmd/functions.go
  cli/cmd/jobs.go
  internal/functions/storage.go
Due: unittests

fix: Always show items from the namespace that has at least one RPC procedure.
  admin/src/routes/_authenticated/rpc/index.tsx
Due: none

fix: Make user-settings work again.
  internal/api/server.go
  internal/api/user_settings_handler.go
  internal/settings/custom_settings.go
Due: unittests

fix: Move eslint comment.
  admin/src/routes/_authenticated/rpc/index.tsx
Due: none

fix: Settings key constraint.
  internal/database/migrations/070_fix_settings_key_constraint.down.sql
  internal/database/migrations/070_fix_settings_key_constraint.up.sql
Due: unittests

fix: Increase upload limit for admin endpoints.
  internal/config/config.go
  internal/middleware/body_limit.go
Due: unittests

fix: Update storage limit defaults.
  internal/config/config.go
Due: unittests

fix: Delete then update setting.
  test/e2e/auth_test.go
  test/e2e/setup_test.go
Due: none

fix: Use partial unique index on key for app settings.
  Makefile
  internal/api/oauth_provider_handler.go
  internal/auth/system_settings.go
  internal/database/migrations/071_fix_settings_system_key_index.down.sql
  internal/database/migrations/071_fix_settings_system_key_index.up.sql
Due: unittests

docs: Add comprehensive codebase improvement analysis
  IMPROVEMENT_ANALYSIS.md
Due: none

fix(security): prevent SQL injection in PostgreSQL pub/sub
  internal/pubsub/postgres.go
Due: unittests

docs: Add comprehensive feature implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

fix(security): Add SQL injection protections across codebase
  internal/api/rest_query.go
  internal/database/connection.go
  internal/extensions/service.go
  internal/middleware/rls.go
  internal/realtime/subscription.go
Due: unittests

feat(admin): Add Schema Viewer and RLS Policy Editor
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/policies/index.tsx
  admin/src/routes/_authenticated/schema/index.tsx
  internal/api/policy_handler.go
  internal/api/schema_handler.go
  internal/api/server.go
Due: unittests

fix(security): Add SQL injection protections across codebase
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/schema/index.tsx
  internal/api/graphql_resolvers.go
  internal/api/policy_handler.go
  internal/api/schema_handler.go
  internal/auth/user.go
Due: unittests

fix: Apply formatting.
  internal/api/policy_handler.go
  internal/api/schema_handler.go
Due: unittests

fix(tenancy): harden FDW schema import against transient connection failures
  internal/api/server_init.go
  internal/tenantdb/fdw.go
  internal/tenantdb/fdw_test.go
Due: unittests

fix(tenancy): cover all unique constraints in tenant_id backfill dedup
  cmd/fluxbase/main.go
Due: none

fix(tenancy): use localhost for FDW server host instead of external hostname
  internal/tenantdb/fdw.go
Due: unittests

fix(admin): handle null entries in activity logs API response
  admin/src/hooks/use-activity-logs.ts
Due: none

remove(admin): remove Recent Issues feed from dashboard
  admin/src/features/dashboard/index.tsx
Due: none

fix(migrations): skip DROP CONSTRAINT on partition tables
  internal/migrations/declarative.go
Due: unittests

fix(api): show all users when default tenant is selected
  internal/api/user_management_handler.go
Due: unittests

refactor(admin): remove app/dashboard user tabs, always show app users
  admin/src/routes/_authenticated/users/index.tsx
Due: none

fix(admin): allow users page at instance level without tenant
  admin/src/components/layout/data/sidebar-data.ts
Due: none

refactor(admin): show tabs only at instance scope, remove Tenants column
  admin/src/features/users/components/users-columns.tsx
  admin/src/routes/_authenticated/users/index.tsx
Due: none

fix(tenancy): harden FDW schema import against transient connection failures (#203)
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/features/dashboard/index.tsx
  admin/src/features/users/components/users-columns.tsx
  admin/src/hooks/use-activity-logs.ts
  admin/src/routes/_authenticated/users/index.tsx
  cmd/fluxbase/main.go
  internal/api/server_init.go
  internal/api/user_management_handler.go
  internal/migrations/declarative.go
  internal/tenantdb/fdw.go
  internal/tenantdb/fdw_test.go
Due: unittests

docs: fix voice, middleware ordering, feature grid, CLI tenant flag, and cleanup
  BRANCHING_TENANCY_REFACTOR.md
  cli/client/client.go
  cli/cmd/config.go
  cli/cmd/root.go
  cli/config/config.go
  docs/astro.config.mjs
  docs/src/components/Hero.astro
  docs/src/content/docs/about/ai-transparency.md
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/cli/configuration.md
  docs/src/content/docs/cli/getting-started.md
  docs/src/content/docs/guides/developer-guide.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/intro.md
  docs/src/content/docs/security/application-security.md
  docs/src/content/docs/security/overview.md
Due: none

docs: fix voice, middleware ordering, feature grid, CLI tenant flag, and cleanup (#204)
  BRANCHING_TENANCY_REFACTOR.md
  cli/client/client.go
  cli/cmd/config.go
  cli/cmd/root.go
  cli/config/config.go
  docs/astro.config.mjs
  docs/src/components/Hero.astro
  docs/src/content/docs/about/ai-transparency.md
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/cli/configuration.md
  docs/src/content/docs/cli/getting-started.md
  docs/src/content/docs/guides/developer-guide.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/intro.md
  docs/src/content/docs/security/application-security.md
  docs/src/content/docs/security/overview.md
Due: none

fix: add viper config fallback to settings cache so features default to enabled
  internal/auth/settings_cache.go
  internal/auth/settings_cache_test.go
  internal/middleware/feature_flags.go
Due: unittests
