Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

fix: Improve OAuth setup and fix unittests.
  admin/src/routes/_authenticated/authentication/index.tsx
  fluxbase.yaml.example
  internal/auth/oidc.go
  internal/config/config.go
  internal/rpc/validator_test.go
Due: unittests

fix: Clarify secrets usage better.
  admin/src/routes/_authenticated/secrets/index.tsx
Due: none

fix: Update LICENSE to become AGPLv3.
  LICENSE
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/security-settings/index.tsx
  admin/src/routes/login/index.tsx
  internal/api/captcha_settings_handler.go
  internal/api/server.go
  internal/api/system_settings_handler.go
  internal/auth/captcha.go
  internal/auth/oidc_test.go
Due: unittests

fix: Use the right layout.
  admin/src/routes/_authenticated/security-settings/index.tsx
  internal/api/captcha_settings_handler.go
Due: unittests

fix: Update OAuth e2e tests.
  test/e2e/oauth_test.go
Due: none

fix: Store used OAuth provider in local storage.
  sdk/package-lock.json
  sdk/src/auth.test.ts
  sdk/src/auth.ts
Due: sdk

fix: Add rate limit to password reset.
  internal/api/auth_handler.go
  internal/auth/password_reset.go
Due: unittests

fix: Add support for redirectTo when resetting passwords.
  admin/package-lock.json
  internal/api/auth_handler.go
  internal/auth/password_reset.go
  internal/auth/service.go
  sdk/src/auth.ts
Due: unittests, sdk

fix: Throw error if mail isn't configured.
  internal/api/dashboard_auth_handler.go
Due: unittests

fix: Allow adding variables into chatbots.
  .github/QUICK_REFERENCE.md
  .github/RELEASE_SETUP.md
  .github/RELEASE_WORKFLOW.md
  .github/SECRETS.md
  .github/SETUP_GUIDE.md
  Makefile
  VERSIONING.md
  cli/cmd/rpc.go
  docs/src/content/docs/guides/ai-chatbots.md
  internal/ai/chat_handler.go
  internal/ai/chatbot.go
  internal/ai/schema_builder.go
  internal/ai/settings_resolver.go
  internal/api/server.go
  internal/settings/secrets_service.go
Due: unittests

fix: Improve CLI.
  cli/cmd/chatbots.go
  cli/cmd/knowledgebases.go
  cli/cmd/storage.go
Due: none

fix: Always return JSON for OAuth.
  .env.example
  admin/src/lib/jwt.ts
  admin/src/routes/login/callback.tsx
  admin/src/routes/login/index.tsx
  cmd/fluxbase/main.go
  deploy/.env.example
  deploy/docker-compose.yml
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
  docker-compose.yml
  docs/src/content/docs/guides/admin/configuration-management.md
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/settings/app-settings-guide.md
  fluxbase.yaml.example
  internal/api/app_settings_handler.go
  internal/api/auth_otp_test.go
  internal/api/dashboard_auth_handler.go
  internal/api/oauth_provider_handler.go
  internal/api/system_settings_handler.go
  internal/auth/service.go
  internal/auth/settings_cache.go
  internal/auth/settings_cache_test.go
  internal/config/config.go
  test/e2e/auth_test.go
  test/e2e/setup_test.go
  test/e2e/webhook_trigger_test.go
  test/e2e_helpers.go
Due: unittests

fix: Use S3 for storage in devcontainer.
  .devcontainer/docker-compose.yml
  admin/package-lock.json
Due: none

fix: More OAuth improvements.
  admin/package-lock.json
  internal/api/dashboard_auth_handler.go
  sdk-react/CHANGELOG.md
  sdk/CHANGELOG.md
Due: unittests

fix: Change versioning and fix OAuth.
  .github/workflows/release.yml
  VERSION
  admin/package-lock.json
  admin/package.json
  admin/src/routes/login/index.tsx
  deploy/docker-compose.minimal.yaml
  deploy/docker-compose.yml
  deploy/helm/fluxbase/Chart.yaml
  internal/api/oauth_handler.go
  internal/auth/oauth.go
  sdk-react/package-lock.json
  sdk-react/package.json
  sdk/package-lock.json
  sdk/package.json
  sdk/src/auth.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Use new versioning everywhere.
  .github/workflows/release.yml
  VERSION
  admin/package-lock.json
Due: none

fix: Update versioning correctly in CI.
  .github/workflows/release.yml
Due: none

fix: Better store redirect URL.
  admin/src/routes/login/index.tsx
  internal/api/oauth_handler.go
  sdk/src/auth.ts
Due: unittests, sdk

fix: Dashboard OAuth handler.
  internal/api/dashboard_auth_handler.go
  internal/api/dashboard_auth_sso_test.go
  internal/api/oauth_handler.go
  internal/api/server.go
Due: unittests

fix: OAuth now works for dashboard.
  admin/package-lock.json
  internal/api/dashboard_auth_handler.go
  internal/auth/dashboard.go
Due: unittests

fix: Add public endpoints for auth settings.
  internal/api/auth_handler.go
  internal/api/server.go
  sdk-react/src/index.ts
  sdk-react/src/use-auth-config.ts
  sdk/src/auth.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Provide setting for forcing SSO logins.
  admin/package-lock.json
  admin/src/lib/api.ts
  admin/src/routes/_authenticated/authentication/index.tsx
  deploy/.env.example
  deploy/docker-compose.yml
  deploy/helm/fluxbase/values.example.yaml
  internal/api/auth_handler.go
  internal/api/oauth_provider_handler.go
  sdk/src/types.ts
Due: unittests, sdk

fix: Add missing field to AuthConfig.
  sdk/src/types.ts
Due: sdk

fix: Make embeddings configurable while running.
  internal/ai/handler.go
  internal/api/server.go
  internal/api/vector_handler.go
  internal/api/vector_manager.go
Due: unittests

fix: Add UI for AI providers.
  .claude/project.md
  README.md
  admin/src/components/ai-providers/ai-providers-tab.tsx
  docs/src/content/docs/intro.md
  docs/src/content/docs/supabase-comparison.md
  internal/ai/handler.go
  internal/ai/storage.go
  internal/api/auth_otp_test.go
  internal/api/server.go
  internal/api/vector_manager.go
  internal/database/migrations/085_ai_providers_embedding_preference.down.sql
  internal/database/migrations/085_ai_providers_embedding_preference.up.sql
  sdk/src/admin-ai.ts
  sdk/src/types.ts
Due: unittests, sdk

fix: Improve embeddings implementation.
  admin/package-lock.json
  admin/src/components/ai-providers/ai-providers-tab.tsx
  docs/src/content/docs/supabase-comparison.md
  internal/ai/handler.go
  internal/ai/storage.go
  internal/api/vector_handler.go
  internal/api/vector_manager.go
  internal/database/migrations/086_ai_providers_embedding_model.down.sql
  internal/database/migrations/086_ai_providers_embedding_model.up.sql
  sdk/src/types.ts
Due: unittests, sdk

fix: Add missing migration.
  internal/database/migrations/087_ai_providers_read_only.down.sql
  internal/database/migrations/087_ai_providers_read_only.up.sql
Due: unittests

fix: Explicit Deno exit code.
  internal/runtime/wrap.go
Due: unittests

fix: Add SDK methods for interacting with user-settings.
  internal/api/server.go
  internal/api/user_settings_handler.go
  internal/settings/custom_settings.go
  sdk/src/index.ts
  sdk/src/settings.ts
  sdk/src/types.ts
Due: unittests, sdk

docs: Update license.
  docs/src/content/docs/intro.md
Due: none

ci: Use CalVer in CI dropdown options.
  .github/workflows/release.yml
Due: none

fix: Don't use scientific notation in Helm chart.
  admin/package-lock.json
  deploy/helm/fluxbase/templates/deployment.yaml
Due: none

fix: Implement TOTP tests.
  .claude/settings.local.json
  .codecov.yml
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  README.md
  internal/auth/totp_test.go
Due: none

fix: Add more tests.
  internal/auth/captcha_cap_test.go
  internal/auth/captcha_hcaptcha_test.go
  internal/auth/captcha_recaptcha_test.go
  internal/auth/captcha_turnstile_test.go
  internal/auth/email_verification_test.go
  internal/auth/magiclink_test.go
  internal/auth/otp_sender_test.go
  internal/auth/password_reset_test.go
  internal/runtime/env_test.go
Due: none

fix: Add more tests.
  .testcoverage.yml
  internal/api/rest_utils_test.go
  internal/auth/captcha_cap_test.go
  internal/auth/captcha_hcaptcha_test.go
  internal/auth/captcha_recaptcha_test.go
  internal/auth/captcha_turnstile_test.go
  internal/auth/email_verification_test.go
  internal/auth/magiclink_test.go
  internal/auth/otp_sender_test.go
  internal/auth/password_reset_test.go
  internal/functions/bundler_test.go
  internal/mcp/types_test.go
  internal/runtime/cancel_test.go
  internal/runtime/env_test.go
Due: none

fix: Add more tests.
  .testcoverage.yml
  internal/api/rest_utils_test.go
  internal/auth/captcha_cap_test.go
  internal/auth/captcha_hcaptcha_test.go
  internal/auth/captcha_recaptcha_test.go
  internal/auth/captcha_turnstile_test.go
  internal/auth/email_verification_test.go
  internal/auth/magiclink_test.go
  internal/auth/otp_sender_test.go
  internal/auth/password_reset_test.go
  internal/database/schema_cache_test.go
  internal/functions/bundler_test.go
  internal/mcp/types_test.go
  internal/runtime/cancel_test.go
  internal/runtime/env_test.go
Due: none

fix: Remove old resources during sync.
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/rpc.go
  cli/cmd/sync.go
  internal/auth/captcha_cap_test.go
  internal/auth/captcha_recaptcha_test.go
  internal/auth/otp_sender_test.go
Due: none

Add more tests and sync command must remove old resources (#10)
  .claude/settings.local.json
  .codecov.yml
  .github/workflows/ci.yml
  .testcoverage.yml
  CLAUDE.md
  Makefile
  README.md
  cli/cmd/functions.go
  cli/cmd/jobs.go
  cli/cmd/rpc.go
  cli/cmd/sync.go
  internal/api/rest_utils_test.go
  internal/auth/captcha_cap_test.go
  internal/auth/captcha_hcaptcha_test.go
  internal/auth/captcha_recaptcha_test.go
  internal/auth/captcha_turnstile_test.go
  internal/auth/email_verification_test.go
  internal/auth/magiclink_test.go
  internal/auth/otp_sender_test.go
  internal/auth/password_reset_test.go
  internal/auth/totp_test.go
  internal/database/schema_cache_test.go
  internal/functions/bundler_test.go
  internal/mcp/types_test.go
  internal/runtime/cancel_test.go
  internal/runtime/env_test.go
Due: none

feat: Improve chatbots and let them use MCP tools.
  admin/package-lock.json
  docs/src/content/docs/guides/ai-chatbots.md
  internal/ai/chat_handler.go
  internal/ai/chatbot.go
  internal/ai/chatbot_test.go
  internal/ai/mcp_bridge.go
  internal/ai/mcp_bridge_test.go
  internal/ai/mcp_executor.go
  internal/ai/mcp_tools.go
  internal/ai/mcp_tools_test.go
  internal/ai/schema_builder.go
  internal/ai/storage.go
  internal/api/server.go
  internal/database/migrations/088_chatbot_mcp_tools.down.sql
  internal/database/migrations/088_chatbot_mcp_tools.up.sql
  internal/mcp/registry.go
  internal/mcp/tools/query_table.go
  internal/mcp/tools/sync_chatbot.go
  internal/mcp/tools/sync_test.go
Due: unittests

fix: Update VERSION file during CI.
  .github/workflows/release.yml
  VERSION
Due: none

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**
