Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

feat(extensions): enable out-of-the-box via catalog sync + pg_available fallback
  cmd/fluxbase/main.go
  internal/extensions/handler.go
  internal/extensions/service.go
  internal/extensions/service_test.go
Due: unittests

feat(extensions): enable out-of-the-box via catalog sync + pg_available fallback (#300)
  cmd/fluxbase/main.go
  internal/extensions/handler.go
  internal/extensions/service.go
  internal/extensions/service_test.go
Due: unittests

fix(extensions): normalize empty userID to nil for UUID columns
  internal/extensions/service.go
Due: unittests

fix(extensions): run catalog sync AFTER declarative schema, not before
  cmd/fluxbase/main.go
Due: none

fix(extensions): catalog sync ordering + empty userID normalization (#301)
  cmd/fluxbase/main.go
  internal/extensions/service.go
Due: unittests

fix(schema): run ensureMissingColumns BEFORE bulk SQL exec in fallback
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): run ensureMissingColumns BEFORE bulk SQL exec in fallback (#302)
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): prepend DROP VIEW for CREATE OR REPLACE VIEW in MakeSQLIdempotent
  internal/database/schema/idempotent.go
  internal/database/schema/idempotent_test.go
Due: unittests

fix(schema): prepend DROP VIEW for CREATE OR REPLACE VIEW in MakeSQLIdempotent (#303)
  internal/database/schema/idempotent.go
  internal/database/schema/idempotent_test.go
Due: unittests

fix(auth): degrade to anonymous on expired tokens for optional-auth routes
  internal/middleware/clientkey_auth.go
  internal/middleware/clientkey_auth_test.go
Due: unittests

fix(sdk): clear stale session when 401 token refresh fails
  sdk/src/auth.test.ts
  sdk/src/auth.ts
Due: sdk

fix(sdk): clear stale session when 401 token refresh fails (#305)
  sdk/src/auth.test.ts
  sdk/src/auth.ts
Due: sdk

fix(auth): degrade to anonymous on expired tokens for optional-auth routes (#304)
  internal/middleware/clientkey_auth.go
  internal/middleware/clientkey_auth_test.go
Due: unittests

fix(storage): chunked upload inserts storage.objects with owner_id = NULL
  internal/api/storage_chunked.go
  internal/storage/local_test.go
Due: unittests

fix(storage): multipart + S3 chunked uploads create no storage.objects row
  internal/api/storage_chunked.go
  internal/api/storage_chunked_db.go
  internal/api/storage_multipart.go
Due: unittests

fix(storage): chunked/multipart/S3 uploads don't create RLS-owned storage.objects rows (#306)
  internal/api/storage_chunked.go
  internal/api/storage_chunked_db.go
  internal/api/storage_multipart.go
  internal/storage/local_test.go
Due: unittests

feat(settings): namespace bulk-fetch, is_public flag, chatbot limit config
  internal/ai/handler.go
  internal/api/custom_settings_handler.go
  internal/api/settings_handler.go
  internal/api/settings_handler_test.go
  internal/settings/custom_settings.go
  sdk/src/admin-ai.ts
  sdk/src/settings.ts
Due: unittests, sdk

fix(settings): enforce tenant isolation on read paths + per-tenant resolution
  internal/api/routes/settings.go
  internal/api/routes/settings_test.go
  internal/api/routes_settings.go
  internal/api/settings_handler.go
  internal/database/schema/schemas/app.sql
  internal/settings/custom_settings.go
Due: unittests

style(settings): gofumpt-align SettingsDeps struct fields
  internal/api/routes/settings.go
Due: unittests

feat(settings): namespace bulk-fetch, is_public flag, chatbot limit config (#308)
  internal/ai/handler.go
  internal/api/custom_settings_handler.go
  internal/api/routes/settings.go
  internal/api/routes/settings_test.go
  internal/api/routes_settings.go
  internal/api/settings_handler.go
  internal/api/settings_handler_test.go
  internal/database/schema/schemas/app.sql
  internal/settings/custom_settings.go
  sdk/src/admin-ai.ts
  sdk/src/settings.ts
Due: unittests, sdk

feat(sdk): allow rpc() callable to accept namespace option
  sdk/src/client.ts
Due: sdk

feat(sdk): allow rpc() callable to accept namespace option (#310)
  sdk/src/client.ts
Due: sdk

docs: fix broken cross-references and external links
  docs/src/content/docs/guides/ai-agents.md
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/ai-events.md
  docs/src/content/docs/guides/ai-integrations.md
  docs/src/content/docs/guides/developer-guide.md
  docs/src/content/docs/guides/saml-sso.md
  docs/src/content/docs/sdk-next/getting-started.md
  docs/src/content/docs/sdk-svelte/getting-started.md
  docs/src/content/docs/sdk-vue/getting-started.md
Due: none

fix(schema): prepend DROP FUNCTION for CREATE [OR REPLACE] FUNCTION
  internal/database/schema/idempotent.go
  internal/database/schema/idempotent_test.go
  internal/migrations/app_declarative.go
Due: unittests

fix(schema): prepend DROP FUNCTION for CREATE [OR REPLACE] FUNCTION (#311)
  internal/database/schema/idempotent.go
  internal/database/schema/idempotent_test.go
  internal/migrations/app_declarative.go
Due: unittests

fix(routes): generic settings :key shadowed secret/user index routes
  internal/api/routes/registry.go
  internal/api/routes/settings_test.go
Due: unittests

fix(routes): generic settings :key shadowed secret/user index routes (#314)
  internal/api/routes/registry.go
  internal/api/routes/settings_test.go
Due: unittests

test(auth): remove empty t.Skip stubs that implied nonexistent coverage
  internal/auth/mfa_totp_workflow_test.go
  internal/auth/oauth_workflow_test.go
Due: none

test(migrations): cover planning/transform helpers; fix CI test selection
  .github/workflows/ci.yml
  .testcoverage.yml
  internal/migrations/app_declarative_test.go
  internal/migrations/declarative_test.go
Due: none

test: add pure-security unit tests and harden coverage gate
  .codecov.yml
  .github/workflows/ci.yml
  .testcoverage.yml
  internal/auth/saml_logout_test.go
  internal/crypto/encrypt_test.go
  internal/loader/annotations_test.go
  internal/util/helpers.go
  internal/util/helpers_test.go
Due: unittests

fix(migrations): honor quoted identifiers in table-name extractors
  internal/migrations/declarative.go
  internal/migrations/declarative_test.go
Due: unittests

test(auth): extract and cover pure MFA/OIDC decision logic (#313 option C)
  internal/auth/mfa.go
  internal/auth/mfa_decision_test.go
  internal/auth/oidc_claims_test.go
  internal/auth/service_users.go
Due: unittests

ci+test: fix e2e lint scope, smart e2e selection, #313 remainder
  .github/workflows/ci.yml
  internal/auth/password_reset.go
  internal/auth/platform_password.go
  internal/auth/platform_password_test.go
  lefthook.yml
Due: unittests

fix(reliability): auto-restart crashed workers and retry DB startup on transient errors
  cmd/fluxbase/main.go
  fluxbase.yaml.example
  internal/config/config_database.go
  internal/config/config_database_retry_test.go
  internal/config/config_defaults.go
  internal/config/config_jobs.go
  internal/database/errors.go
  internal/database/retry.go
  internal/database/retry_test.go
  internal/database/transient_errors_test.go
  internal/jobs/manager.go
  internal/jobs/manager_restart_helpers_test.go
  internal/jobs/manager_restart_test.go
  internal/jobs/worker.go
  internal/jobs/worker_fail_test.go
Due: unittests

fix(reliability): auto-restart crashed workers and retry DB startup on transient errors (#315)
  cmd/fluxbase/main.go
  fluxbase.yaml.example
  internal/config/config_database.go
  internal/config/config_database_retry_test.go
  internal/config/config_defaults.go
  internal/config/config_jobs.go
  internal/database/errors.go
  internal/database/retry.go
  internal/database/retry_test.go
  internal/database/transient_errors_test.go
  internal/jobs/manager.go
  internal/jobs/manager_restart_helpers_test.go
  internal/jobs/manager_restart_test.go
  internal/jobs/worker.go
  internal/jobs/worker_fail_test.go
Due: unittests

test: pure-security unit tests + hardened coverage gate (#312)
  .codecov.yml
  .github/workflows/ci.yml
  .testcoverage.yml
  internal/auth/mfa.go
  internal/auth/mfa_decision_test.go
  internal/auth/mfa_totp_workflow_test.go
  internal/auth/oauth_workflow_test.go
  internal/auth/oidc_claims_test.go
  internal/auth/password_reset.go
  internal/auth/platform_password.go
  internal/auth/platform_password_test.go
  internal/auth/saml_logout_test.go
  internal/auth/service_users.go
  internal/crypto/encrypt_test.go
  internal/loader/annotations_test.go
  internal/migrations/app_declarative_test.go
  internal/migrations/declarative.go
  internal/migrations/declarative_test.go
  internal/util/helpers.go
  internal/util/helpers_test.go
  lefthook.yml
Due: unittests

test(branching): cover pure helpers (14.9% -> 19.6% unit-only)
  internal/branching/manager_unit_test.go
  internal/branching/router_test.go
  internal/branching/scheduler_test.go
  internal/branching/storage_test.go
  internal/branching/types_test.go
Due: none

test(ai): cover pure helpers (28.0% -> 31.1% unit-only)
  internal/ai/decision_helpers_test.go
  internal/ai/metadata_filter_test.go
  internal/ai/pure_helpers_test.go
  internal/ai/table_exporter_test.go
Due: none

test(branching): cover pure helpers (14.9% -> 19.6% unit-only) (#316)
  internal/branching/manager_unit_test.go
  internal/branching/router_test.go
  internal/branching/scheduler_test.go
  internal/branching/storage_test.go
  internal/branching/types_test.go
Due: none

test(ai): cover pure helpers (unit-only 28.0% → 31.1%) (#317)
  internal/ai/decision_helpers_test.go
  internal/ai/metadata_filter_test.go
  internal/ai/pure_helpers_test.go
  internal/ai/table_exporter_test.go
Due: none

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
