Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

docs: add building-from-source guide for macOS and Linux
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/deployment/docker.md
  docs/src/content/docs/getting-started/building-from-source.md
  docs/src/content/docs/intro.md
Due: none

fix(build): point CGO at Homebrew keg dirs for gosseract (ocr) on Apple Silicon
  Makefile
  docs/src/content/docs/getting-started/building-from-source.md
Due: none

fix(build): make `make build` work on macOS + building-from-source docs (#325)
  Makefile
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/deployment/docker.md
  docs/src/content/docs/getting-started/building-from-source.md
  docs/src/content/docs/intro.md
Due: none

feat(api,sdks): publish anon key via /auth/config for client discovery
  internal/api/auth_handler.go
  internal/api/auth_handler_captcha_test.go
  internal/api/auth_handler_config.go
  internal/api/auth_handler_test.go
  internal/api/module_auth.go
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/AuthConfig.kt
  sdk/src/types.ts
Due: unittests, sdk

feat(sdk-kotlin): FluxbaseClientOptions.trustSslCertificates
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/FluxbaseClient.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/core/KtorHttpTransport.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/core/TrustAllCertificates.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/realtime/KtorWebSocketTransport.kt
Due: none

fix(api): pass anon-key arg in remaining NewAuthHandler test call sites
  internal/api/auth_handler_test.go
  internal/api/auth_otp_test.go
Due: none

style(api): gofumpt — single-space field after comment group
  internal/api/auth_handler.go
Due: unittests

feat: anon-key discovery via /auth/config + opt-in TLS bypass (Kotlin SDK) (#327)
  internal/api/auth_handler.go
  internal/api/auth_handler_captcha_test.go
  internal/api/auth_handler_config.go
  internal/api/auth_handler_test.go
  internal/api/auth_otp_test.go
  internal/api/module_auth.go
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/FluxbaseClient.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/AuthConfig.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/core/KtorHttpTransport.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/core/TrustAllCertificates.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/realtime/KtorWebSocketTransport.kt
  sdk/src/types.ts
Due: unittests, sdk

fix(ci): arch must be a matrix key in publish-docker-arch
  .github/workflows/release.yml
Due: none

fix(ci): arch must be a matrix key in publish-docker-arch (#328)
  .github/workflows/release.yml
Due: none

fix(api): fall back to FLUXBASE_ANON_KEY env for /auth/config anon_key
  internal/api/auth_handler_config.go
Due: unittests

fix(api): fall back to FLUXBASE_ANON_KEY env for /auth/config anon_key (#329)
  internal/api/auth_handler_config.go
Due: unittests

feat(sdk-kotlin): OAuth methods — providers, authorize URL, code exchange
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthException.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/OAuthTypes.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthOAuthTest.kt
Due: none

feat(sdk-kotlin): OAuth methods — providers, authorize URL, code exchange (#330)
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthException.kt
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/OAuthTypes.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthOAuthTest.kt
Due: none

feat(auth): support multiple redirect URLs for OAuth providers
  admin/src/components/authentication/oauth-providers-tab.tsx
  admin/src/lib/api/auth.ts
  docs/src/content/docs/api/sdk-next/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk-react/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk-svelte/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk-svelte/interfaces/FluxbaseQueryOptions.md
  docs/src/content/docs/api/sdk-vue/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk/README.md
  docs/src/content/docs/api/sdk/classes/AppSettingsManager.md
  docs/src/content/docs/api/sdk/classes/FluxbaseAdminAI.md
  docs/src/content/docs/api/sdk/classes/FluxbaseClient.md
  docs/src/content/docs/api/sdk/classes/OAuthProviderManager.md
  docs/src/content/docs/api/sdk/classes/SettingsClient.md
  docs/src/content/docs/api/sdk/interfaces/AuthConfig.md
  docs/src/content/docs/api/sdk/interfaces/CreateOAuthProviderRequest.md
  docs/src/content/docs/api/sdk/interfaces/OAuthProvider.md
  docs/src/content/docs/api/sdk/interfaces/UpdateOAuthProviderRequest.md
  docs/src/content/docs/guides/authentication.md
  internal/api/oauth_handler.go
  internal/api/oauth_handler_callback.go
  internal/api/oauth_handler_providers.go
  internal/api/oauth_provider_handler.go
  internal/api/oauth_provider_handler_test.go
  internal/api/oauth_provider_integration_test.go
  internal/api/oauth_redirect_urls.go
  internal/api/oauth_redirect_urls_test.go
  internal/api/openapi_admin.go
  internal/config/config_auth.go
  internal/database/schema/schemas/platform.sql
  internal/database/schema/schemas/post-schema.sql
  sdk/src/oauth.test.ts
  sdk/src/oauth.ts
  sdk/src/types.ts
Due: unittests, sdk

feat(admin): allow multiple redirect URLs when creating OAuth providers
  admin/src/components/authentication/oauth-providers-tab.tsx
Due: none

feat(auth): support multiple redirect URLs for OAuth providers (#331)
  admin/src/components/authentication/oauth-providers-tab.tsx
  admin/src/lib/api/auth.ts
  docs/src/content/docs/api/sdk-next/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk-react/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk-svelte/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk-svelte/interfaces/FluxbaseQueryOptions.md
  docs/src/content/docs/api/sdk-vue/interfaces/FluxbaseClient.md
  docs/src/content/docs/api/sdk/README.md
  docs/src/content/docs/api/sdk/classes/AppSettingsManager.md
  docs/src/content/docs/api/sdk/classes/FluxbaseAdminAI.md
  docs/src/content/docs/api/sdk/classes/FluxbaseClient.md
  docs/src/content/docs/api/sdk/classes/OAuthProviderManager.md
  docs/src/content/docs/api/sdk/classes/SettingsClient.md
  docs/src/content/docs/api/sdk/interfaces/AuthConfig.md
  docs/src/content/docs/api/sdk/interfaces/CreateOAuthProviderRequest.md
  docs/src/content/docs/api/sdk/interfaces/OAuthProvider.md
  docs/src/content/docs/api/sdk/interfaces/UpdateOAuthProviderRequest.md
  docs/src/content/docs/guides/authentication.md
  internal/api/oauth_handler.go
  internal/api/oauth_handler_callback.go
  internal/api/oauth_handler_providers.go
  internal/api/oauth_provider_handler.go
  internal/api/oauth_provider_handler_test.go
  internal/api/oauth_provider_integration_test.go
  internal/api/oauth_redirect_urls.go
  internal/api/oauth_redirect_urls_test.go
  internal/api/openapi_admin.go
  internal/config/config_auth.go
  internal/database/schema/schemas/platform.sql
  internal/database/schema/schemas/post-schema.sql
  sdk/src/oauth.test.ts
  sdk/src/oauth.ts
  sdk/src/types.ts
Due: unittests, sdk

feat(auth): allow private-use app schemes in OAuth redirect URLs
  admin/src/components/authentication/oauth-providers-tab.tsx
  docs/src/content/docs/sdk/oauth.md
  internal/api/oauth_provider_handler_test.go
  internal/api/oauth_redirect_urls.go
  internal/api/oauth_redirect_urls_test.go
Due: unittests

feat(auth): allow private-use app schemes in OAuth redirect URLs (#332)
  admin/src/components/authentication/oauth-providers-tab.tsx
  docs/src/content/docs/sdk/oauth.md
  internal/api/oauth_provider_handler_test.go
  internal/api/oauth_redirect_urls.go
  internal/api/oauth_redirect_urls_test.go
Due: unittests

fix(helm): set DENO_DIR on the server so deno's cache stays on the deno-cache volume
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
Due: none

fix(helm): set DENO_DIR on the server so deno's cache stays on the deno-cache volume (#333)
  deploy/helm/fluxbase/templates/deployment.yaml
  deploy/helm/fluxbase/values.yaml
Due: none

fix(cli): encode kb query params correctly; add kb export-table
  cli/cmd/knowledgebases.go
  internal/ai/kb_handler.go
Due: unittests

fix(cli): encode kb query params correctly; add kb export-table (#334)
  cli/cmd/knowledgebases.go
  internal/ai/kb_handler.go
Due: unittests

feat(sdk-kotlin): real autoRefresh — proactive token refresh
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthTest.kt
Due: none

feat(auth): default refresh token lifetime 7d -> 90d (sliding)
  internal/config/config_defaults.go
Due: unittests

feat(auth): default refresh token lifetime 7d -> 90d (sliding) (#336)
  internal/config/config_defaults.go
Due: unittests

fix(sdk-kotlin): detekt — single-exit refresh loop, merge auto-refresh tests
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthTest.kt
Due: none

feat(sdk-kotlin): real autoRefresh — proactive token refresh (#335)
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthTest.kt
Due: none

fix(sdk-kotlin): single-flight refreshSession — concurrent refreshes bricked sessions
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthTest.kt
Due: none

fix(sdk-kotlin): single-flight refreshSession — concurrent refreshes bricked sessions (#337)
  sdk-kotlin/src/main/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuth.kt
  sdk-kotlin/src/test/kotlin/io/github/nimbleflux/fluxbase/auth/FluxbaseAuthTest.kt
Due: none

fix(auth): CAS session token rotation + config-aligned refresh cookie
  internal/api/auth_handler.go
  internal/auth/interfaces.go
  internal/auth/mock_repositories.go
  internal/auth/mock_repositories_test.go
  internal/auth/service.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/auth/session_workflow_test.go
Due: unittests

fix(auth): CAS session token rotation + config-aligned refresh cookie (#338)
  internal/api/auth_handler.go
  internal/auth/interfaces.go
  internal/auth/mock_repositories.go
  internal/auth/mock_repositories_test.go
  internal/auth/service.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/auth/session_workflow_test.go
Due: unittests

feat(auth): default access-token lifetime 15m → 1h
  deploy/.env.example
  deploy/docker-compose.yml
  deploy/helm/fluxbase/values.yaml
  docker-compose.yml
  internal/config/config_defaults.go
Due: unittests

feat(auth): default access-token lifetime 15m → 1h (#339)
  deploy/.env.example
  deploy/docker-compose.yml
  deploy/helm/fluxbase/values.yaml
  docker-compose.yml
  internal/config/config_defaults.go
Due: unittests

chore(auth): align refresh-expiry examples with the 90-day sliding default
  deploy/.env.example
  deploy/helm/fluxbase/values.yaml
  docker-compose.yml
  fluxbase.minimal.yaml.example
  fluxbase.yaml.example
Due: none

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
