Repository wayli-app/fluxbase: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, sdk

docs: update developer guide for module system and file splits
  docs/src/content/docs/guides/developer-guide.md
Due: none

fix: remove unused label variable in auth-flows test
  admin/tests/e2e/auth-flows.spec.ts
Due: none

fix(e2e): update KB/chatbot route paths after orphaned route deletion
  admin/tests/e2e/tenant-dashboard-isolation.spec.ts
  admin/tests/e2e/tenant-ui-isolation.spec.ts
Due: none

docs: fix CLAUDE.md Go SDK claim, enrich README, update E2E README
  CLAUDE.md
  README.md
  docs/src/content/docs/intro.md
  test/e2e/README.md
Due: none

ci: make coverage check blocking and re-enable Codecov upload
  .github/workflows/ci.yml
Due: none

feat(graphql): enable _and/_or/_not logical filter operators
  internal/api/graphql_operators_test.go
  internal/api/graphql_resolvers.go
  internal/api/graphql_schema.go
Due: unittests

refactor(api): unify pagination response format
  internal/api/admin_session_handler.go
  internal/api/admin_session_handler_test.go
  internal/api/admin_session_integration_test.go
  internal/api/branch_handler.go
  internal/api/monitoring_handler.go
  internal/api/realtime_stats_handler.go
  internal/api/user_management_handler.go
  internal/errors/http.go
Due: unittests

refactor(admin): migrate 23 remaining pages to shared PageHeader component
  admin/src/routes/_authenticated/ai-providers/index.tsx
  admin/src/routes/_authenticated/api/rest.tsx
  admin/src/routes/_authenticated/authentication/index.tsx
  admin/src/routes/_authenticated/client-keys/index.tsx
  admin/src/routes/_authenticated/database-config/index.tsx
  admin/src/routes/_authenticated/email-settings/index.tsx
  admin/src/routes/_authenticated/extensions/index.tsx
  admin/src/routes/_authenticated/features/index.tsx
  admin/src/routes/_authenticated/instance-settings/index.tsx
  admin/src/routes/_authenticated/jobs/index.tsx
  admin/src/routes/_authenticated/logs/index.tsx
  admin/src/routes/_authenticated/mcp-tools/index.tsx
  admin/src/routes/_authenticated/monitoring/index.tsx
  admin/src/routes/_authenticated/realtime/index.tsx
  admin/src/routes/_authenticated/schema/index.tsx
  admin/src/routes/_authenticated/security-settings/index.tsx
  admin/src/routes/_authenticated/service-keys/index.tsx
  admin/src/routes/_authenticated/settings/index.tsx
  admin/src/routes/_authenticated/sql-editor/index.tsx
  admin/src/routes/_authenticated/storage-config/index.tsx
  admin/src/routes/_authenticated/tenants/$tenantId.tsx
  admin/src/routes/_authenticated/tenants/index.tsx
  admin/src/routes/_authenticated/users/index.tsx
Due: none

feat(sdk-react): add 7 new hook modules + thicken 3 existing
  sdk-react/src/index.ts
  sdk-react/src/test-utils.tsx
  sdk-react/src/use-branches.test.ts
  sdk-react/src/use-branches.ts
  sdk-react/src/use-ddl.test.ts
  sdk-react/src/use-ddl.ts
  sdk-react/src/use-functions.test.ts
  sdk-react/src/use-functions.ts
  sdk-react/src/use-impersonation.test.ts
  sdk-react/src/use-impersonation.ts
  sdk-react/src/use-jobs.test.ts
  sdk-react/src/use-jobs.ts
  sdk-react/src/use-migrations.test.ts
  sdk-react/src/use-migrations.ts
  sdk-react/src/use-rpc.test.ts
  sdk-react/src/use-rpc.ts
  sdk-react/src/use-secrets.test.ts
  sdk-react/src/use-secrets.ts
  sdk-react/src/use-service-keys.test.ts
  sdk-react/src/use-service-keys.ts
  sdk-react/src/use-vector.test.ts
  sdk-react/src/use-vector.ts
Due: none

docs: add SDK getting-started guides for TypeScript and React
  docs/src/content/docs/sdk-react/getting-started.md
  docs/src/content/docs/sdk/getting-started.md
Due: none

refactor(admin): extract useChatbots hook, delete dialog from chatbots page
  admin/src/components/chatbots/delete-chatbot-dialog.tsx
  admin/src/components/chatbots/use-chatbots.ts
  admin/src/routes/_authenticated/chatbots/index.tsx
Due: none

feat(api): embed Scalar API reference at /api-docs
  admin/src/components/layout/data/sidebar-data.ts
  admin/src/components/layout/nav-group.tsx
  admin/src/components/layout/types.ts
  internal/api/scalar_handler.go
  internal/api/server_routes.go
Due: unittests

style: fix gofumpt formatting in branch_handler and http errors
  internal/api/branch_handler.go
  internal/errors/http.go
Due: unittests

fix(ci): exclude internal/database/schema from coverage (infrastructure code)
  .testcoverage.yml
Due: none

fix(ci): disable file-level coverage threshold (was incorrectly enforced at 0%)
  .testcoverage.yml
Due: none

fix(ci): remove invalid file threshold from coverage config
  .testcoverage.yml
Due: none

fix(ci): only fail coverage step on threshold violations, not uncovered files
  .github/workflows/ci.yml
Due: none

fix(ci): remove invalid file threshold from coverage config (#233)
  .github/workflows/ci.yml
  .testcoverage.yml
Due: none

fix(devcontainer): bootstrap app user + grants on fresh volumes; harden admin SPA against backend downtime
  .devcontainer/post-create.sh
  Makefile
  admin/src/lib/api/auth.ts
  admin/src/main.tsx
Due: none

chore(deps): remove unused gorilla/websocket, track devcontainer feature lock
  .devcontainer/devcontainer-lock.json
  go.mod
  go.sum
Due: none

chore(deps): remove unused gorilla/websocket, track devcontainer feature lock (#234)
  .devcontainer/devcontainer-lock.json
  go.mod
  go.sum
Due: none

fix(ci): anchor gitignore 'fluxbase' pattern to root to unblock helm chart commits
  .gitignore
Due: none

chore: sync source files to published 2026.6.1 release
  VERSION
  bun.lock
  deploy/.env.example
  deploy/docker-compose.minimal.yaml
  deploy/docker-compose.yml
  deploy/helm/fluxbase/Chart.yaml
  docs/src/content/docs/cli/installation.md
  sdk-react/package.json
  sdk/package.json
Due: none

fix(docs): correct relative links in SDK getting-started guide
  docs/src/content/docs/sdk/getting-started.md
Due: none

feat: AI prompt caching, native Anthropic provider, per-user quota, KG wiring fixes
  CLAUDE.md
  cli/cmd/knowledgebases.go
  cli/cmd/mcp.go
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/knowledge-bases.md
  docs/src/content/docs/guides/mcp/custom-mcp-tools.md
  internal/ai/chat_handler.go
  internal/ai/chat_handler_message.go
  internal/ai/chat_handler_tools.go
  internal/ai/chat_handler_usage.go
  internal/ai/chatbot.go
  internal/ai/chatbot_limiter.go
  internal/ai/chatbot_limiter_test.go
  internal/ai/conversation.go
  internal/ai/document_processor.go
  internal/ai/handler.go
  internal/ai/intent_validator.go
  internal/ai/intent_validator_test.go
  internal/ai/kb_handler_docs.go
  internal/ai/kb_storage.go
  internal/ai/kb_storage_search.go
  internal/ai/knowledge_base.go
  internal/ai/knowledge_graph.go
  internal/ai/provider.go
  internal/ai/provider_anthropic.go
  internal/ai/provider_anthropic_test.go
  internal/ai/provider_openai.go
  internal/ai/rag_service.go
  internal/ai/schema_builder.go
  internal/ai/user_kb_handler_documents.go
  internal/api/handler_groups.go
  internal/api/module_ai.go
  internal/api/routes/ai.go
  internal/api/routes_ai.go
  internal/database/schema/schemas/ai.sql
  sdk/src/ai.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk

test(sdk): update onDone signature for new extras argument + add quota/rules forwarding test
  sdk/src/ai.test.ts
Due: none

feat: AI prompt caching, native Anthropic provider, per-user quota, KG wiring fixes (#238)
  CLAUDE.md
  cli/cmd/knowledgebases.go
  cli/cmd/mcp.go
  docs/src/content/docs/cli/commands.md
  docs/src/content/docs/guides/ai-chatbots.md
  docs/src/content/docs/guides/knowledge-bases.md
  docs/src/content/docs/guides/mcp/custom-mcp-tools.md
  internal/ai/chat_handler.go
  internal/ai/chat_handler_message.go
  internal/ai/chat_handler_tools.go
  internal/ai/chat_handler_usage.go
  internal/ai/chatbot.go
  internal/ai/chatbot_limiter.go
  internal/ai/chatbot_limiter_test.go
  internal/ai/conversation.go
  internal/ai/document_processor.go
  internal/ai/handler.go
  internal/ai/intent_validator.go
  internal/ai/intent_validator_test.go
  internal/ai/kb_handler_docs.go
  internal/ai/kb_storage.go
  internal/ai/kb_storage_search.go
  internal/ai/knowledge_base.go
  internal/ai/knowledge_graph.go
  internal/ai/provider.go
  internal/ai/provider_anthropic.go
  internal/ai/provider_anthropic_test.go
  internal/ai/provider_openai.go
  internal/ai/rag_service.go
  internal/ai/schema_builder.go
  internal/ai/user_kb_handler_documents.go
  internal/api/handler_groups.go
  internal/api/module_ai.go
  internal/api/routes/ai.go
  internal/api/routes_ai.go
  internal/database/schema/schemas/ai.sql
  sdk/src/ai.test.ts
  sdk/src/ai.ts
  sdk/src/index.ts
  sdk/src/types.ts
Due: unittests, sdk

docs: replace GitHub Sponsors with Buy Me a Coffee
  docs/src/content/docs/pricing.md
Due: none

Add Buy me a coffee button to README
  README.md
Due: none

feat: add ffmpeg to runtime image for video transcoding jobs
  Dockerfile
  docs/src/content/docs/guides/jobs.md
Due: none

feat: add ffmpeg to runtime image for video transcoding jobs (#242)
  Dockerfile
  docs/src/content/docs/guides/jobs.md
Due: none

fix(storage): signed-URL downloads returned 0 bytes
  internal/api/storage_signed.go
Due: unittests

fix(jobs): embedded workers reaped as stale shortly after startup
  internal/config/config_jobs.go
  internal/jobs/storage_workers.go
  internal/jobs/worker.go
Due: unittests

fix(storage): default buckets use name as id to satisfy objects FK
  internal/api/storage_default_buckets.go
Due: unittests

fix: storage signed-download 0 bytes, embedded-worker reaping, default-bucket FK (#244)
  internal/api/storage_default_buckets.go
  internal/api/storage_signed.go
  internal/config/config_jobs.go
  internal/jobs/storage_workers.go
  internal/jobs/worker.go
Due: unittests

Path conditions:
  unittests: any of: internal/, cli/, cmd/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
  sdk: any of: sdk/src/, but not: **/*_test.go, **/*.test.ts, test/**, cmd/fluxbase/main.go, internal/adminui/**, sdk/examples/**, sdk/scripts/**, internal/scaling/leader.go, internal/database/connection.go, internal/ai/ocr_tesseract.go, cli/**, internal/query/types.go, internal/branching/types.go, internal/jobs/types.go, internal/rpc/types.go, internal/mcp/types.go, internal/runtime/types.go, internal/extensions/models.go, internal/storage/log_types.go, internal/api/rest_errors.go, internal/api/graphql_types.go, internal/branching/errors.go, internal/database/errors.go, internal/auth/interfaces.go, internal/api/openapi.go, internal/testutil/**
